Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

fix: Remove getVrfConfig from global scope of VRF Listener #409
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf.ts
Owners: @martinkersner

Listener control without service restart (#410)
  cli/src/listener.ts
  cli/src/settings.ts
  cli/src/utils.ts
  core/package.json
  core/src/errors.ts
  core/src/listener/api.ts
  core/src/listener/data-feed.ts
  core/src/listener/event.ts
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/types.ts
  core/src/listener/utils.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
  core/src/settings.ts
  core/src/types.ts
  core/src/utils.ts
  core/test/listener.test.ts
  core/yarn.lock
Owners: @martinkersner

fix: add aggregator active field to prisma
  api/prisma/migrations/20230321014502_init/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

fix: revert, add back aggregator active field
  api/src/aggregator/aggregator.controller.ts
  api/src/aggregator/aggregator.service.spec.ts
  api/src/aggregator/aggregator.service.ts
  api/src/aggregator/dto/aggregator-query.dto.ts
  api/src/aggregator/dto/aggregator-update.dto.ts
  api/src/aggregator/dto/aggregator.dto.ts
  api/src/data/data.service.spec.ts
  cli/src/aggregator.ts
  cli/src/cli-types.ts
  cli/src/utils.ts
  core/src/types.ts
  core/src/worker/api.ts
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

fix: improve test & comments
  cli/test/aggregator.ts
  core/src/worker/aggregator.ts
Owners: @martinkersner

fix: update request name from get-hash to hash
  api/src/adapter/adapter.controller.ts
  api/src/aggregator/aggregator.controller.ts
Owners: @martinkersner

feat: remove aggregator active field from hash calculation
  api/src/aggregator/aggregator.service.ts
Owners: @martinkersner

fix: Deployment package scripts
  contracts/deploy/Aggregator/0-Aggregator.ts
  contracts/deploy/Prepayment/0-Prepayment.ts
  contracts/deploy/RequestResponse/0-RequestResponseCoordinator.ts
  contracts/deploy/VRF/0-VRFCoordinator.ts
  contracts/package.json
Owners: @martinkersner

feat: Add LICENSE
  contracts/LICENSE
  contracts/package.json
Owners: @martinkersner

fix: Reuse deployment commands
  contracts/package.json
Owners: @martinkersner

feat: Migration solution for `Aggregator`
  contracts/README.md
  contracts/config/localhost/aggregator.json
  contracts/deploy/Aggregator/0-Aggregator.ts
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/migration/baobab/aggregator.json
  contracts/migration/baobab/request-response.json
  contracts/migration/baobab/vrf.json
  contracts/migration/hardhat
  contracts/migration/localhost/Aggregator/20230321121337_ETH-USD.json
  contracts/migration/localhost/Aggregator/migration.lock
  contracts/migration/localhost/request-response.json
  contracts/migration/localhost/vrf.json
  contracts/package.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

chore: Update README
  contracts/README.md
Owners: @martinkersner

feat: Migration style deployment for RequestResponse
  contracts/deploy/Prepayment/Prepayment.ts
  contracts/deploy/RequestResponse/0-RequestResponseCoordinator.ts
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/migration/localhost/RequestResponse/20230321121337_init.json
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/migration/localhost/request-response.json
  contracts/migration/localhost/vrf.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fix: Validation in aggregator deployment
  contracts/deploy/Aggregator/Aggregator.ts
Owners: @martinkersner

feat: Config validation for RequestResponse deployment
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/migration/localhost/RequestResponse/migration.lock
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: VRF deployment with migrations
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/deploy/VRF/0-VRFCoordinator.ts
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/migration/localhost/RequestResponse/20230321121337_init.json
  contracts/migration/localhost/RequestResponse/migration.lock
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: Add validation to VRFCoordinat deployment
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fix: eslint
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

chore: Cleanup
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/migration/localhost/VRF/migration.lock
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: Remove old deployment configurations
  contracts/migration/baobab/aggregator.json
  contracts/migration/baobab/request-response.json
  contracts/migration/baobab/vrf.json
Owners: @martinkersner

chore: Final touches
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fix: Package build
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fixed prisma schema for mapping table name and field
  api/docker-compose.build.yaml
  api/prisma/migrations/20230321091709_init/migration.sql
  api/prisma/migrations/20230321091823_init/migration.sql
  api/prisma/schema.prisma
Owners: @joseph-bisonai, @martinkersner

fixed jest test
  api/src/aggregator/aggregator.service.spec.ts
  api/src/data/data.service.spec.ts
  api/src/listener/dto/create-listener.dto.ts
  api/src/listener/listener.service.spec.ts
  api/src/listener/listener.service.ts
  api/src/service/service.service.spec.ts
  api/src/vrf/vrf.service.spec.ts
Owners: @martinkersner

fixed jest timeout
  api/src/aggregator/aggregator.service.spec.ts
  api/src/data/data.service.spec.ts
Owners: @martinkersner

fixed jest for disconnect database connection after done
  api/src/adapter/adapter.service.spec.ts
  api/src/aggregate/aggregate.service.spec.ts
  api/src/aggregator/aggregator.service.spec.ts
  api/src/chain/chain.service.spec.ts
  api/src/data/data.service.spec.ts
  api/src/feed/feed.service.spec.ts
  api/src/listener/listener.service.spec.ts
  api/src/service/service.service.spec.ts
  api/src/vrf/vrf.service.spec.ts
Owners: @martinkersner

fixed e2e test set time
  api/test/app.e2e-spec.ts
Owners: @martinkersner

add force exit for jest e2e test
  .github/workflows/api.test+build.yaml
  api/test/app.e2e-spec.ts
Owners: @martinkersner

fixed prisma schema for mapping table name and field (#430)
  .github/workflows/api.test+build.yaml
  api/docker-compose.build.yaml
  api/prisma/migrations/20230321091709_init/migration.sql
  api/prisma/migrations/20230321091823_init/migration.sql
  api/prisma/schema.prisma
  api/src/adapter/adapter.service.spec.ts
  api/src/aggregate/aggregate.service.spec.ts
  api/src/aggregator/aggregator.service.spec.ts
  api/src/chain/chain.service.spec.ts
  api/src/data/data.service.spec.ts
  api/src/feed/feed.service.spec.ts
  api/src/listener/dto/create-listener.dto.ts
  api/src/listener/listener.service.spec.ts
  api/src/listener/listener.service.ts
  api/src/service/service.service.spec.ts
  api/src/vrf/vrf.service.spec.ts
  api/test/app.e2e-spec.ts
Owners: @martinkersner, @joseph-bisonai

Generalize deployment scripts (#427)
  contracts/LICENSE
  contracts/README.md
  contracts/config/baobab/aggregator.json
  contracts/config/baobab/request-response.json
  contracts/config/baobab/vrf.json
  contracts/config/localhost/aggregator.json
  contracts/config/localhost/request-response.json
  contracts/config/localhost/vrf.json
  contracts/deploy/1-requestResponse/0-RequestResponseCoordinator.ts
  contracts/deploy/2-vrf/0-VRFCoordinator.ts
  contracts/deploy/3-aggregator/0-Aggregator.ts
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/deploy/Prepayment/Prepayment.ts
  contracts/deploy/RequestResponse/RequestResponseCoordinator.ts
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/migration/hardhat
  contracts/migration/localhost/Aggregator/20230321121337_ETH-USD.json
  contracts/migration/localhost/Aggregator/migration.lock
  contracts/migration/localhost/RequestResponse/20230321121337_init.json
  contracts/migration/localhost/RequestResponse/migration.lock
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/migration/localhost/VRF/migration.lock
  contracts/package.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: connect cli hash generator to api
  api/src/adapter/adapter.controller.ts
  api/src/aggregator/aggregator.controller.ts
  cli/src/adapter.ts
  cli/src/aggregator.ts
Owners: @martinkersner

feat: add load file from Url options
  cli/src/cli-types.ts
  cli/src/utils.ts
Owners: @martinkersner

cleanup: remove hash generator functions from cli
  cli/src/utils.ts
Owners: @martinkersner

fix: fix test hash value
  api/src/data/data.service.spec.ts
Owners: @martinkersner

fix: Remove aggregator reporter job on failure
  core/src/worker/aggregator.ts
Owners: @martinkersner

fix: Remove aggregator reporter job on failure (#436)
  core/src/worker/aggregator.ts
Owners: @martinkersner

fix: add .env.example file to orakl-cli
  cli/.env.example
  cli/.gitignore
Owners: @martinkersner

feat: verify aggregator hash while load throught api
  api/src/aggregator/aggregator.controller.ts
Owners: @martinkersner

cleanup: remove aggregator & adapter settings from core
  core/adapter/ada-usdt.adapter.json
  core/adapter/bnb-usdt.adapter.json
  core/adapter/btc-usd.adapter.json
  core/adapter/btc-usdt.adapter.json
  core/adapter/busd-usdt.adapter.json
  core/adapter/dai-usdt.adapter.json
  core/adapter/doge-usdt.adapter.json
  core/adapter/dot-usdt.adapter.json
  core/adapter/eth-usd.adapter.json
  core/adapter/eth-usdt.adapter.json
  core/adapter/klay-usd.adapter.json
  core/adapter/klay-usdt.adapter.json
  core/adapter/matic-usdt.adapter.json
  core/adapter/shib-usdt.adapter.json
  core/adapter/sol-usdt.adapter.json
  core/adapter/trx-usdt.adapter.json
  core/adapter/usdc-usdt.adapter.json
  core/adapter/xrp-usdt.adapter.json
  core/aggregator/localhost/ada-usdt.aggregator.json
  core/aggregator/localhost/bnb-usdt.aggregator.json
  core/aggregator/localhost/btc-usd.aggregator.json
  core/aggregator/localhost/btc-usdt.aggregator.json
  core/aggregator/localhost/busd-usdt.aggregator.json
  core/aggregator/localhost/dai-usdt.aggregator.json
  core/aggregator/localhost/doge-usdt.aggregator.json
  core/aggregator/localhost/dot-usdt.aggregator.json
  core/aggregator/localhost/eth-usd.aggregator.json
  core/aggregator/localhost/eth-usdt.aggregator.json
  core/aggregator/localhost/klay-usd.aggregator.json
  core/aggregator/localhost/klay-usdt.aggregator.json
  core/aggregator/localhost/matic-usdt.aggregator.json
  core/aggregator/localhost/shib-usdt.aggregator.json
  core/aggregator/localhost/sol-usdt.aggregator.json
  core/aggregator/localhost/trx-usdt.aggregator.json
  core/aggregator/localhost/usdc-usdt.aggregator.json
  core/aggregator/localhost/xrp-usdt.aggregator.json
Owners: @martinkersner

cleanup: remove aggregator & adapter settings from core
  core/aggregator/baobab/eth-usd.aggregator.json
Owners: @martinkersner
