Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

.github/CODEOWNERS:

*                                       @Bisonai/blockchain
admin/                                  @joeybisonai
monitor/                                @Bisonai/infra
docker-compose.*                        @Bisonai/infra

fix: rollback with node version compatibility
  .github/workflows/contracts.test.yaml
  .github/workflows/vrf.contracts.test.yaml
  contracts/package.json
  contracts/yarn.lock
Owners: @Bisonai/blockchain

fix: update
  contracts/package.json
  contracts/yarn.lock
Owners: @Bisonai/blockchain

Rollback with node version compatibility (#987)
  .github/workflows/contracts.test.yaml
  .github/workflows/vrf.contracts.test.yaml
  contracts/package.json
  contracts/yarn.lock
Owners: @Bisonai/blockchain

cleanup: cleaup the pr
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.utils.ts
Owners: @Bisonai/blockchain

fixed some issues in comments
  contracts/src/v0.1/L1Endpoint.sol
  contracts/src/v0.1/L1EndpointBase.sol
  contracts/src/v0.1/L1EndpointRequestResponse.sol
  contracts/src/v0.1/L1EndpointVRF.sol
Owners: @Bisonai/blockchain

fix: add reporter
  contracts/migration/localhost/POR/20230831181923_deploy.json
Owners: @Bisonai/blockchain

fix: add reporter (#989)
  contracts/migration/localhost/POR/20230831181923_deploy.json
Owners: @Bisonai/blockchain

fixed L1Endpoint test error
  contracts/test/v0.1/non-vrf/L1Endpoint.test.cjs
Owners: @Bisonai/blockchain

used only one requestData function for all data type
  contracts/src/v0.1/L1EndpointRequestResponse.sol
  contracts/src/v0.1/interfaces/IL1Endpoint.sol
  contracts/src/v0.1/mocks/L1EndpointConsumerMock.sol
  contracts/test/v0.1/non-vrf/L1Endpoint.test.cjs
  contracts/test/v0.1/non-vrf/L1EndpointConsumer.test.cjs
Owners: @Bisonai/blockchain

added RR functions for L1Endpoint (#981)
  contracts/src/v0.1/L1Endpoint.sol
  contracts/src/v0.1/L1EndpointBase.sol
  contracts/src/v0.1/L1EndpointRequestResponse.sol
  contracts/src/v0.1/L1EndpointVRF.sol
  contracts/src/v0.1/interfaces/IL1Endpoint.sol
  contracts/src/v0.1/mocks/L1EndpointConsumerMock.sol
  contracts/test/v0.1/non-vrf/L1Endpoint.test.cjs
  contracts/test/v0.1/non-vrf/L1EndpointConsumer.test.cjs
Owners: @Bisonai/blockchain

fix: remove unnecessary files
  contracts/test.txt
  core/test.txt
Owners: @Bisonai/blockchain

fix: update nvmrc version
  .nvmrc
Owners: @Bisonai/blockchain

fix: github action node version fix, update dependency
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.integration.test.yaml
  contracts/package.json
  package.json
  yarn.lock
Owners: @Bisonai/blockchain

fix: add missing yarn.lock file in admin
  admin/yarn.lock
Owners: @joeybisonai

fix: use node version 18.12 for dockerfiles
  api/src/Dockerfile
  cli/src/Dockerfile
  core/src/Dockerfile
  delegator/src/Dockerfile
  fetcher/src/Dockerfile
  monitor/Dockerfile
Owners: @Bisonai/blockchain, @Bisonai/infra

feat: initial setup
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.contracts.test.yaml
  .github/workflows/vrf.integration.test.yaml
  .gitignore
  .nvmrc
  admin/yarn.lock
  api/.nvmrc
  api/package.json
  api/src/Dockerfile
  api/yarn.lock
  cli/package.json
  cli/src/Dockerfile
  cli/yarn.lock
  contracts/README.md
  contracts/package.json
  contracts/test.txt
  contracts/tsconfig.json
  contracts/yarn.lock
  core/package.json
  core/src/Dockerfile
  core/test.txt
  delegator/package.json
  delegator/src/Dockerfile
  delegator/yarn.lock
  fetcher/src/Dockerfile
  fetcher/yarn.lock
  l2-api/yarn.lock
  monitor/Dockerfile
  package.json
  vrf/yarn.lock
  yarn.lock
Owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

fix: update runtime for github action
  .github/workflows/core.test+build.yaml
Owners: @Bisonai/blockchain

fix: update timeout-minutes
  .github/workflows/delegator.test+build.yaml
Owners: @Bisonai/blockchain

Mono repo implementation (#988)
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.contracts.test.yaml
  .github/workflows/vrf.integration.test.yaml
  .gitignore
  .nvmrc
  api/package.json
  api/src/Dockerfile
  api/yarn.lock
  cli/package.json
  cli/src/Dockerfile
  cli/yarn.lock
  contracts/README.md
  contracts/package.json
  contracts/tsconfig.json
  contracts/yarn.lock
  core/package.json
  core/src/Dockerfile
  delegator/package.json
  delegator/src/Dockerfile
  delegator/yarn.lock
  fetcher/src/Dockerfile
  fetcher/yarn.lock
  l2-api/yarn.lock
  package.json
  vrf/yarn.lock
  yarn.lock
Owners: @Bisonai/blockchain

feat: initial setup
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.integration.test.yaml
  admin/yarn.lock
  api/src/Dockerfile
  cli/src/Dockerfile
  contracts/test.txt
  core/src/Dockerfile
  core/test.txt
  delegator/src/Dockerfile
  monitor/Dockerfile
  yarn.lock
Owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

feat: update github action yaml, remove symlinks
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/delegator.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
  .github/workflows/monitor.image+upload.yaml
  core/package.json
  core/src/por/api.ts
  core/src/por/fetcher.ts
  core/src/por/job.errors.ts
  core/src/por/job.types.ts
  core/src/por/reducer.ts
  dockerfiles/orakl-api.Dockerfile
  dockerfiles/orakl-cli.Dockerfile
  dockerfiles/orakl-core.Dockerfile
  dockerfiles/orakl-delegator.Dockerfile
  dockerfiles/orakl-fetcher.Dockerfile
  dockerfiles/orakl-general.Dockerfile
Owners: @Bisonai/blockchain

fix: remove unnecessary files
  contracts/test.txt
  core/test.txt
Owners: @Bisonai/blockchain

feat: add missing dockerfiles and commands
  dockerfiles/orakl-fetcher.Dockerfile
  dockerfiles/orakl-monitor.Dockerfile
Owners: @Bisonai/blockchain

fix: use node version 18.12 for dockerfiles
  api/src/Dockerfile
  cli/src/Dockerfile
  core/src/Dockerfile
  delegator/src/Dockerfile
  monitor/Dockerfile
Owners: @Bisonai/blockchain, @Bisonai/infra

feat: init
  docker-compose.build.yaml
  dockerfiles/orakl-api.Dockerfile
  dockerfiles/orakl-cli.Dockerfile
  dockerfiles/orakl-core.Dockerfile
  dockerfiles/orakl-delegator.Dockerfile
Owners: @Bisonai/infra, @Bisonai/blockchain

fix: add missing yarn.lock file in admin
  admin/yarn.lock
Owners: @joeybisonai

fix: github action node version fix, update dependency
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @Bisonai/blockchain

fix: yarn.lock rollback
  yarn.lock
Owners: @Bisonai/blockchain

feat: remove old docker files
  api/docker-compose.build.yaml
  api/src/Dockerfile
  cli/docker-compose.build.yaml
  cli/src/Dockerfile
  core/docker-compose.build.yaml
  core/src/Dockerfile
  delegator/docker-compose.build.yaml
  delegator/src/Dockerfile
  fetcher/docker-compose.build.yaml
  fetcher/src/Dockerfile
  monitor/Dockerfile
Owners: @Bisonai/infra, @Bisonai/blockchain

fix: fix typo
  .github/workflows/core.image+upload.yaml
Owners: @Bisonai/blockchain

Update monorepo dockerfiles & remove symlink from por (#990)
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/delegator.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
  .github/workflows/monitor.image+upload.yaml
  api/docker-compose.build.yaml
  api/src/Dockerfile
  cli/docker-compose.build.yaml
  core/docker-compose.build.yaml
  core/package.json
  core/src/por/api.ts
  core/src/por/fetcher.ts
  core/src/por/job.errors.ts
  core/src/por/job.types.ts
  core/src/por/reducer.ts
  delegator/docker-compose.build.yaml
  delegator/src/Dockerfile
  docker-compose.build.yaml
  dockerfiles/orakl-api.Dockerfile
  dockerfiles/orakl-cli.Dockerfile
  dockerfiles/orakl-core.Dockerfile
  dockerfiles/orakl-delegator.Dockerfile
  dockerfiles/orakl-fetcher.Dockerfile
  dockerfiles/orakl-general.Dockerfile
  fetcher/docker-compose.build.yaml
Owners: @Bisonai/blockchain, @Bisonai/infra

chore: Add missing Aggregator migrations to lockfile
  contracts/migration/cypress/Aggregator/migration.lock
Owners: @Bisonai/blockchain

added listener,worker,reporter for L2 RR
  contracts/src/v0.1/L2EndpointRequestResponse.sol
  core/src/listener/main.ts
  core/src/listener/requestResponnse-L2-fulfill.ts
  core/src/listener/requestResponnse-L2-request.ts
  core/src/listener/types.ts
  core/src/reporter/main.ts
  core/src/reporter/request-response-L2-fulfill.ts
  core/src/reporter/request-response-L2-request.ts
  core/src/settings.ts
  core/src/types.ts
  core/src/worker/main.ts
  core/src/worker/request-response-L2-fulfill.ts
  core/src/worker/request-response-L2-request.ts
Owners: @Bisonai/blockchain

deployed L1Endpoint, L2Endpoint, L2RequestResponseConsumer + test
  contracts/deploy/L2RequestResponseConsumerMock/L2RequestResponseConsumerMock.cjs
  contracts/deploy/L2VRFConsumerMock/L2VRFConsumer.cjs
  contracts/deployments/baobab/L1Endpoint.json
  contracts/deployments/l2node/L2Endpoint.json
  contracts/deployments/l2node/L2RequestResponseConsumerMock.json
  contracts/migration/baobab/L1Endpoint/20230112212800_deploy.json
  contracts/migration/baobab/L1Endpoint/migration.lock
  contracts/migration/l2node/L2Endpoint/20230112212720_deploy.json
  contracts/migration/l2node/L2Endpoint/migration.lock
  contracts/migration/l2node/L2RequestResponseConsumerMock/20231201212619_deploy.json
  contracts/migration/l2node/L2RequestResponseConsumerMock/migration.lock
  core/package.json
  core/src/worker/request-response-L2-fulfill.ts
  core/src/worker/request-response-L2-request.ts
Owners: @Bisonai/blockchain

Add missing Aggregator migrations to lockfile (#991)
  contracts/migration/cypress/Aggregator/migration.lock
Owners: @Bisonai/blockchain

fix: prebuild hook implementation
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  cli/package.json
  contracts/package.json
  core/package.json
  dockerfiles/orakl-cli.Dockerfile
  dockerfiles/orakl-core.Dockerfile
Owners: @Bisonai/blockchain

fix: build before testing
  .github/workflows/core.test+build.yaml
Owners: @Bisonai/blockchain

Set prebuild hook (#992)
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  cli/package.json
  contracts/package.json
  core/package.json
  dockerfiles/orakl-cli.Dockerfile
  dockerfiles/orakl-core.Dockerfile
Owners: @Bisonai/blockchain

feat: update tsconfig.json to include `./utils` folder
  contracts/tsconfig.json
Owners: @Bisonai/blockchain

feat: wip
  contracts/utils/index.ts
Owners: @Bisonai/blockchain
