Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

Fix admin QA issues (#665)
  admin/package.json
  admin/src/app/layout.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Common/ScrollButton/index.tsx
  admin/src/components/Common/ScrollButton/styled.ts
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/yarn.lock
Owners: @martinkersner

fix: Endpoint
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/utils/api.ts
Owners: @martinkersner

fix: Table component
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
Owners: @martinkersner

feat: Connect api to chain component
  admin/src/components/Template/Configuration/Chain/index.tsx
Owners: @martinkersner

feat: Add service component
  admin/src/components/Template/Configuration/Service/index.tsx
Owners: @martinkersner

fix: Hide endpoint address
  admin/src/utils/api.ts
Owners: @martinkersner

chore: Add audit document
  audit/audit.pdf
Owners: @martinkersner

Add audit document (#680)
  audit/audit.pdf
Owners: @martinkersner

chore: Rename audit file
  audit/Verichains Public Audit Report - Orakl Smartcontracts - v1.3.pdf
Owners: @martinkersner

chore: Rename audit file (#681)
  audit/Verichains Public Audit Report - Orakl Smartcontracts - v1.3.pdf
Owners: @martinkersner

save RR error logs in db (#650)
  api/README.md
  api/prisma/migrations/20230601065121_error_init/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/error/dto/error.dto.ts
  api/src/error/error.controller.ts
  api/src/error/error.module.ts
  api/src/error/error.service.spec.ts
  api/src/error/error.service.ts
  api/src/reporter/reporter.utils.ts
  core/src/errors.ts
  core/src/types.ts
  core/src/worker/api.ts
  core/src/worker/request-response.ts
Owners: @martinkersner

Feat connecting api to the services and chain in the admin (#678)
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/Configuration/Chain/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
  admin/src/components/Template/Configuration/Service/index.tsx
  admin/src/utils/api.ts
Owners: @martinkersner

Fix: fill transaction with nonce and add awaits
  core/src/reporter/reporter.ts
  core/src/reporter/utils.ts
Owners: @martinkersner

eslint: fix
  core/src/reporter/reporter.ts
Owners: @martinkersner

chore: Move Delegator docs from CLI README to docs.orakl.network
  cli/README.md
Owners: @martinkersner

feat: Remove PUBLIC_KEY & PRIVATE_KEY from .env.example and settings
  core/.env.example
  core/src/settings.ts
Owners: @martinkersner

Move Delegator docs from CLI README to docs.orakl.network (#687)
  cli/README.md
Owners: @martinkersner

feat: Remove PUBLIC_KEY & PRIVATE_KEY from .env.example and settings (#688)
  core/.env.example
  core/src/settings.ts
Owners: @martinkersner

fix: Allow to submit on previous round
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

fix: Remove test for invalid round to report
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

test: Aggregator suggests to skip rounds
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

Fallback for data feed reporter when delegator fails (#669)
  core/src/errors.ts
  core/src/reporter/reporter.ts
  core/src/reporter/utils.ts
Owners: @martinkersner

feat: add hardhat yarn deploy commands for cypress
  contracts/package.json
Owners: @martinkersner

feat: add initial cypress migration settings
  contracts/migration/cypress/Prepayment/20230613171953_deploy.json
  contracts/migration/cypress/RequestResponse/20230613171946_deploy.json
  contracts/migration/cypress/VRF/20230613171924_deploy.json
Owners: @martinkersner

feat: deploy Prepayment contract to Cypress
  contracts/deployments/cypress/.chainId
  contracts/deployments/cypress/Prepayment.json
  contracts/migration/cypress/Prepayment/migration.lock
Owners: @martinkersner

feat: deploy VRF, RR contract to Cypress
  contracts/deployments/cypress/RequestResponseCoordinator_v0.1.json
  contracts/deployments/cypress/VRFCoordinator_v0.1.json
  contracts/migration/cypress/RequestResponse/20230613171946_deploy.json
  contracts/migration/cypress/RequestResponse/migration.lock
  contracts/migration/cypress/VRF/20230613171924_deploy.json
  contracts/migration/cypress/VRF/migration.lock
Owners: @martinkersner

Deploy Prepayment, RR, and VRF to Cypress (#692)
  contracts/deployments/cypress/.chainId
  contracts/deployments/cypress/Prepayment.json
  contracts/deployments/cypress/RequestResponseCoordinator_v0.1.json
  contracts/deployments/cypress/VRFCoordinator_v0.1.json
  contracts/migration/cypress/Prepayment/20230613171953_deploy.json
  contracts/migration/cypress/Prepayment/migration.lock
  contracts/migration/cypress/RequestResponse/20230613171946_deploy.json
  contracts/migration/cypress/RequestResponse/migration.lock
  contracts/migration/cypress/VRF/20230613171924_deploy.json
  contracts/migration/cypress/VRF/migration.lock
  contracts/package.json
Owners: @martinkersner

test: Aggregator suggests to skip rounds (#691)
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

chore: Remove decimals log
  fetcher/src/job/job.processor.ts
Owners: @martinkersner

feat: add hardhat task to make change burn fee ratio
  contracts/hardhat.config.cjs
Owners: @martinkersner

feat: add new Register to test contracts
  contracts/migration/cypress/RequestResponse/20230615152319_registerOracle.json
  contracts/migration/cypress/RequestResponse/migration.lock
  contracts/migration/cypress/VRF/20230615182342_registerOracle.json
  contracts/migration/cypress/VRF/migration.lock
Owners: @martinkersner

chore: Remove decimals log (#695)
  fetcher/src/job/job.processor.ts
Owners: @martinkersner

feat: deploy Aggregators to Cypress
  contracts/deployments/cypress/AggregatorProxy_BNB-USDT_20230616160606.json
  contracts/deployments/cypress/AggregatorProxy_BTC-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_BUSD-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_DAI-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_DOT-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_ETH-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_KLAY-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_MATIC-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_MNR-KRW_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_SOL-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_TRX-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_USDC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_BNB-USDT_20230616160653.json
  contracts/deployments/cypress/Aggregator_BTC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_BUSD-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_DAI-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_DOT-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_ETH-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_KLAY-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_MATIC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_MNR-KRW_20230616160672.json
  contracts/deployments/cypress/Aggregator_SOL-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_TRX-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_USDC-USDT_20230616160672.json
  contracts/migration/cypress/Aggregator/20230616160687_BNB-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_BTC-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_BUSD-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_DAI-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_DOT-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_ETH-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_KLAY-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_MATIC-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_MNR-KRW.json
  contracts/migration/cypress/Aggregator/20230616160687_SOL-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_TRX-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_USDC-USDT.json
  contracts/migration/cypress/Aggregator/migration.lock
  contracts/scripts/v0.1/admin-aggregator/generate-aggregator-deployments.cjs
Owners: @martinkersner

feat: Move delegator fee payer to DB
  delegator/.env.example
  delegator/README.md
  delegator/prisma/schema.prisma
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.controller.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: Add migration
  delegator/prisma/migrations/20230618124120_add_delegator_pk/migration.sql
Owners: @bayram98

fix: Update tests for delegator fee
  delegator/src/sign/sign.controller.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: Remove dummy e2e test
  delegator/test/app.e2e-spec.ts
Owners: @bayram98

chore: Remove the rest of e2e
  .github/workflows/delegator.test+build.yaml
  delegator/package.json
  delegator/test/jest-e2e.json
Owners: @martinkersner, @bayram98

feat: deploy Aggregators to Cypress (#700)
  contracts/deployments/cypress/AggregatorProxy_BNB-USDT_20230616160606.json
  contracts/deployments/cypress/AggregatorProxy_BTC-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_BUSD-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_DAI-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_DOT-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_ETH-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_KLAY-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_MATIC-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_MNR-KRW_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_SOL-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_TRX-USDT_20230616160672.json
  contracts/deployments/cypress/AggregatorProxy_USDC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_BNB-USDT_20230616160653.json
  contracts/deployments/cypress/Aggregator_BTC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_BUSD-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_DAI-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_DOT-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_ETH-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_KLAY-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_MATIC-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_MNR-KRW_20230616160672.json
  contracts/deployments/cypress/Aggregator_SOL-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_TRX-USDT_20230616160672.json
  contracts/deployments/cypress/Aggregator_USDC-USDT_20230616160672.json
  contracts/migration/cypress/Aggregator/20230616160687_BNB-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_BTC-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_BUSD-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_DAI-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_DOT-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_ETH-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_KLAY-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_MATIC-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_MNR-KRW.json
  contracts/migration/cypress/Aggregator/20230616160687_SOL-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_TRX-USDT.json
  contracts/migration/cypress/Aggregator/20230616160687_USDC-USDT.json
  contracts/migration/cypress/Aggregator/migration.lock
  contracts/scripts/v0.1/admin-aggregator/generate-aggregator-deployments.cjs
Owners: @martinkersner

Move delegator fee payer to DB (#702)
  .github/workflows/delegator.test+build.yaml
  delegator/.env.example
  delegator/README.md
  delegator/package.json
  delegator/prisma/migrations/20230618124120_add_delegator_pk/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.controller.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
  delegator/test/app.e2e-spec.ts
  delegator/test/jest-e2e.json
Owners: @martinkersner, @bayram98

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
