Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

chore: Remove `s_` from Prepayment
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

fix: contracts test
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner

feat: `sIsCoordinators` -> `sIsCoordinator`
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

wip: Account and Prepayment separation
  contracts/hardhat.config.ts
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/ITypeAndVersion.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/Account.test.ts
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Get/Set protocol fee ratio
  contracts/src/v0.1/Prepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @KelvinThai, @martinkersner

feat: Set/Get burn ratio
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner, @KelvinThai

feat: Account consumer added/removed through Prepayment
  contracts/hardhat.config.ts
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/test/v0.1/Account.test.ts
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Add/Remove coordinato
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @Bisonai/blockchain

feat: `getAccountInfo`
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

fix: Optimize loop
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
Owners: @martinkersner, @KelvinThai

feat: Account Owner transert/accept through Prepayment
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/Account.test.ts
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Request & Accept Account Transfer
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/Account.test.ts
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Create & Cancel account
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/Account.test.ts
Owners: @KelvinThai, @Bisonai/blockchain, @martinkersner

feat: `chargeFee` including protocol fee
  contracts/hardhat.config.ts
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: `addCoordinator` test
  contracts/src/v0.1/Prepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @KelvinThai, @martinkersner

feat: `increaseNonce`
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

wip: Update VRF to the current version
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

chore: Add comments
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Update nonce retrieval
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IAccount.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Test for remove coordinator
  contracts/src/v0.1/Prepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @KelvinThai, @martinkersner

feat: Deposit/Withdraw from Account through Prepayment
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

chore: Test cleanup
  contracts/test/v0.1/Account.test.ts
Owners: @martinkersner

feat: `getAccountOwner`
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

chore: Compile-able version
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

added 3 mapping variables to store submission infor
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/RequestResponseCoordinatorInterface.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @bayram98, @Bisonai/blockchain, @martinkersner

feat: Prepayment integration with VRF
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Update Prepayment deployment script
  contracts/deploy/Prepayment/Prepayment.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fix: Remove localhost gas block limit
  contracts/hardhat.config.ts
Owners: @martinkersner

fix: Rename VRF mock function name
  contracts/scripts/v0.1/vrf/request-vrf-direct.ts
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
Owners: @martinkersner

feat: Set default burn fee ratio to 50
  contracts/src/v0.1/Prepayment.sol
  contracts/test/v0.1/Prepayment.test.ts
Owners: @KelvinThai, @martinkersner

chore: Prepayment migration file
  contracts/migration/localhost/Prepayment/20230413094038_deploy.json
Owners: @martinkersner

fix: VRF test
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

fix: RR consumer contract test
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @martinkersner

chore: Refactor tests
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
Owners: @martinkersner

feat: Integrate Prepayment with RR
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @KelvinThai, @bayram98, @martinkersner

increased interval time for sending request (rr coordinator)
  testbots/consumer-testbot-VRF-RR/src/request/main.ts
Owners: @martinkersner

feat: Don't allow to increase protocol/burn fee to above 100 combined
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

fix: Update wrong function explanation
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @Bisonai/blockchain

chore: Add Prepaymnet/Account contract comments
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
Owners: @martinkersner, @KelvinThai

feat: Remove nonce for temporary account
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
