Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

.github/CODEOWNERS:

*                                       @Bisonai/blockchain
admin/                                  @joeybisonai
monitor/                                @Bisonai/infra
docker-compose.*                        @Bisonai/infra

fix: typo
  core/src/listener/state.ts
Owners: @Bisonai/blockchain

fix listener `bullmq` `worker_id` collusion (#751)
  core/src/listener/state.ts
Owners: @Bisonai/blockchain

feat: notify if balnce is lower than balance_alarm_amount
  monitor/src/accounts/accounts.repository.ts
  monitor/src/accounts/accounts.service.ts
  monitor/src/accounts/dto/account.dto.ts
Owners: @Bisonai/infra

added withdraw function, aggregator address pair(L1 and L2) in Registry contract
  contracts/src/v0.1/Registry.sol
Owners: @Bisonai/blockchain

refactor: NavigationDropdown component to use next/navigation instead of next/router
  admin/src/components/Common/NavigationDropdown/index.tsx
Owners: @joeybisonai

fix: Basic button component
  admin/src/components/Common/BasicButton/index.tsx
Owners: @joeybisonai

added Registry test case
  contracts/src/v0.1/Registry.sol
  contracts/test/v0.1/Registry.test.cjs
  contracts/test/v0.1/Registry.utils.cjs
Owners: @Bisonai/blockchain

fix: Json text color
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
Owners: @joeybisonai

fix: Incorrect route address
  admin/src/utils/route.ts
Owners: @joeybisonai

fix: Types
  admin/src/utils/types.ts
Owners: @joeybisonai

feat: Add display number of data to tablist component
  admin/src/components/Common/TabList/index.tsx
Owners: @joeybisonai

fix: Tab layout
  admin/src/components/Common/TabList/styled.ts
Owners: @joeybisonai

feat: Updated the TabList component to handle the updated numberOfData prop
  admin/src/components/Template/BullMonitor/DetailTab/index.tsx
Owners: @joeybisonai

fix: Remove Math.floor() method
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

747 registry contract for l2 (#755)
  contracts/src/v0.1/L2endpoint.sol
  contracts/src/v0.1/Registry.sol
  contracts/src/v0.1/interfaces/IL2Aggregator.sol
  contracts/test/v0.1/L2Endpoint.test.cjs
  contracts/test/v0.1/Registry.test.cjs
  contracts/test/v0.1/Registry.utils.cjs
Owners: @Bisonai/blockchain

feat: Add `balance_alarm_amount` column
  monitor/migrations/1676548185141_create_initial_tables.ts
Owners: @Bisonai/infra

feat: Add migration script
  monitor/package.json
Owners: @Bisonai/infra

feat: Drop unnecessary index in account table
  monitor/migrations/1689582056679_alter-account-index-drop.ts
Owners: @Bisonai/infra

feat: Set primary key of balance table
  monitor/migrations/1689584863425_alter-set-balance-primary-key.ts
Owners: @Bisonai/infra

fix: Remove column addition in wrong place
  monitor/migrations/1676548185141_create_initial_tables.ts
Owners: @Bisonai/infra

Feat improve admin UI/UX (#754)
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Common/TabList/styled.ts
  admin/src/components/Template/BullMonitor/DetailTab/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/utils/route.ts
  admin/src/utils/types.ts
Owners: @joeybisonai

feat: Add balance_alarm_amount column
  monitor/migrations/1689585197164_alter-add-column-balance-alarm-amount.ts
Owners: @Bisonai/infra

fix: Fix distribution typo
  monitor/package.json
Owners: @Bisonai/infra

fix: Clarify alarm condition and remove unnecessary comment
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

feat: Add prefix deployed env to slack message
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

fix: Remove unused column
  monitor/src/accounts/dto/balance.dto.ts
Owners: @Bisonai/infra

fix: Revert wrong import removal
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

chore: Add NODE_ENV
  monitor/.env.example
Owners: @Bisonai/infra

fix: Clarify balance alarm condition
  monitor/package.json
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

Add monitor API to notify each account if they have a low balance amount (#757)
  monitor/.env.example
  monitor/migrations/1676548185141_create_initial_tables.ts
  monitor/migrations/1689582056679_alter-account-index-drop.ts
  monitor/migrations/1689584863425_alter-set-balance-primary-key.ts
  monitor/migrations/1689585197164_alter-add-column-balance-alarm-amount.ts
  monitor/package.json
  monitor/src/accounts/accounts.repository.ts
  monitor/src/accounts/accounts.service.ts
  monitor/src/accounts/dto/account.dto.ts
  monitor/src/accounts/dto/balance.dto.ts
Owners: @Bisonai/infra

fix: remove startRound id from Registry
  contracts/src/v0.1/Registry.sol
  contracts/test/v0.1/Registry.test.cjs
  contracts/test/v0.1/Registry.utils.cjs
Owners: @Bisonai/blockchain

feat: Add migrations copy-paste in dockerfile
  monitor/Dockerfile
Owners: @Bisonai/infra

feat: Add migrations copy-paste in dockerfile (#763)
  monitor/Dockerfile
Owners: @Bisonai/infra

fix: remove startRound id from Registry (#760)
  contracts/src/v0.1/Registry.sol
  contracts/test/v0.1/Registry.test.cjs
  contracts/test/v0.1/Registry.utils.cjs
Owners: @Bisonai/blockchain

fix: Fix wrong condition
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

fix: Fix wrong condition (#765)
  monitor/src/accounts/accounts.service.ts
Owners: @Bisonai/infra

feat: bump-up orakl-contracts version from 1.0.1 to 1.1.0
  contracts/package.json
Owners: @Bisonai/blockchain

feat: add Registry deployment script
  contracts/deploy/Registry/Registry.cjs
Owners: @Bisonai/blockchain

feat: add simple script to proposeChain to Registry
  contracts/scripts/v0.1/registry/proposeChain.cjs
Owners: @Bisonai/blockchain

feat: Add argument receive docker build
  admin/Dockerfile
Owners: @joeybisonai
