Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

.github/CODEOWNERS:

*                                       @Bisonai/blockchain
admin/                                  @joeybisonai
monitor/                                @Bisonai/infra
docker-compose.*                        @Bisonai/infra

fixed some issues on comments
  contracts/src/v0.1/BatchSubmission.sol
  contracts/test/v0.1/non-vrf/BatchSubmission.test.cjs
Owners: @Bisonai/blockchain

chore: forge init
  foundryContract/.github/workflows/test.yml
  foundryContract/.gitignore
  foundryContract/README.md
  foundryContract/foundry.toml
  foundryContract/script/Counter.s.sol
  foundryContract/src/Counter.sol
  foundryContract/test/Counter.t.sol
Owners: @Bisonai/blockchain

forge install: forge-std
  .gitmodules
Owners: @Bisonai/blockchain

Added foundry contract, setup foundry, added aggregator contracts
  .gitmodules
  foundryContract/src/Aggregator.sol
  foundryContract/src/AggregatorProxy.sol
  foundryContract/src/AggregatorRouter.sol
  foundryContract/src/interfaces/IAggregator.sol
  foundryContract/src/interfaces/IAggregatorProxy.sol
  foundryContract/src/interfaces/IAggregatorRouter.sol
  foundryContract/src/interfaces/IAggregatorValidator.sol
  foundryContract/src/interfaces/ITypeAndVersion.sol
  foundryContract/src/libraries/Buffer.sol
  foundryContract/src/libraries/CBOR.sol
  foundryContract/src/libraries/MajorityVoting.sol
  foundryContract/src/libraries/Median.sol
  foundryContract/src/libraries/Orakl.sol
  foundryContract/src/libraries/VRF.sol
  foundryContract/src/libraries/ecc/EllipticCurve.sol
Owners: @Bisonai/blockchain

Created batch submission smc + test case (#1073)
  contracts/src/v0.1/BatchSubmission.sol
  contracts/src/v0.1/interfaces/IAggregatorSubmit.sol
  contracts/test/v0.1/non-vrf/BatchSubmission.test.cjs
Owners: @Bisonai/blockchain

added some test cases for aggragtor on foundry
  foundryContract/test/Aggregator.t.sol
  foundryContract/test/Counter.t.sol
Owners: @Bisonai/blockchain

fix: separate inspector service
  inspector/README.md
  inspector/hardhat.config.ts
  inspector/scripts/requestAndRead.ts
  inspector/scripts/utils.ts
Owners: @Bisonai/blockchain

fix: update based on feedbacks
  inspector/hardhat.config.ts
  inspector/inspector-task.ts
  inspector/scripts/utils.ts
Owners: @Bisonai/blockchain

Separate inspector command based on service (#1078)
  inspector/README.md
  inspector/hardhat.config.ts
  inspector/inspector-task.ts
  inspector/scripts/requestAndRead.ts
  inspector/scripts/utils.ts
Owners: @Bisonai/blockchain

added more test case for aggregator on foundry
  foundryContract/test/Aggregator.t.sol
Owners: @Bisonai/blockchain

fix: Got burnt by this during daily checklist process
  inspector/README.md
Owners: @Bisonai/blockchain

fix: Got burnt by this during daily checklist process (#1079)
  inspector/README.md
Owners: @Bisonai/blockchain

added batchSubmission on in foundry + test case
  foundryContract/src/BatchSubmission.sol
  foundryContract/src/interfaces/IAggregatorSubmit.sol
  foundryContract/test/BatchSubmission.t.sol
Owners: @Bisonai/blockchain

removed lib folder
  foundryContract/.gitignore
  foundryContract/script/Counter.s.sol
Owners: @Bisonai/blockchain

added lib folder
  foundryContract/.gitignore
Owners: @Bisonai/blockchain

fixed some issues on comment
  foundryContract/src/Counter.sol
  foundryContract/src/SubmissionProxy.sol
  foundryContract/src/libraries/Buffer.sol
  foundryContract/src/libraries/CBOR.sol
  foundryContract/src/libraries/MajorityVoting.sol
  foundryContract/src/libraries/Orakl.sol
  foundryContract/src/libraries/VRF.sol
  foundryContract/src/libraries/ecc/EllipticCurve.sol
  foundryContract/test/SubmissionProxy.t.sol
Owners: @Bisonai/blockchain

feat: try healthchecker node for peersync
  fetcher-v2/admin/admin.go
  fetcher-v2/admin/node.go
  fetcher-v2/main.go
  fetcher-v2/testPubsub.sh
  fetcher-v2/utils/fetcher-node.go
  fetcher-v2/utils/healthchecker-node.go
  fetcher-v2/utils/libp2p.go
  fetcher-v2/utils/locals.go
  fetcher-v2/utils/node.go
Owners: @joeybisonai, @Bisonai/blockchain

fix: updates based on feedback
  fetcher-v2/.gitignore
  fetcher-v2/admin/admin.go
  fetcher-v2/admin/node.go
  fetcher-v2/go.mod
  fetcher-v2/main.go
  fetcher-v2/testPubsub.sh
  fetcher-v2/utils/fetcher-node.go
  fetcher-v2/utils/healthchecker-node.go
  fetcher-v2/utils/libp2p.go
  fetcher-v2/utils/locals.go
Owners: @Bisonai/blockchain, @joeybisonai

wip
  fetcher-v2/admin/admin.go
  fetcher-v2/admin/node.go
  fetcher-v2/go.mod
  fetcher-v2/go.sum
  fetcher-v2/main.go
  fetcher-v2/utils/libp2p.go
Owners: @joeybisonai, @Bisonai/blockchain

feat: update main
  fetcher-v2/main.go
Owners: @Bisonai/blockchain

feat: updates with go fiber admin interface
  fetcher-v2/admin/admin.go
  fetcher-v2/admin/node.go
  fetcher-v2/main.go
  fetcher-v2/utils/libp2p.go
  fetcher-v2/utils/locals.go
  fetcher-v2/utils/node.go
  fetcher-v2/utils/utils.go
Owners: @joeybisonai, @Bisonai/blockchain

feat: initial update
  fetcher-v2/go.mod
  fetcher-v2/go.sum
  fetcher-v2/main.go
  fetcher-v2/utils/feed.go
  fetcher-v2/utils/libp2p.go
  fetcher-v2/utils/reducer.go
  fetcher-v2/utils/utils.go
Owners: @Bisonai/blockchain

fix: remove comments and unused codes
  fetcher-v2/main.go
  fetcher-v2/utils/feed.go
  fetcher-v2/utils/reducer.go
Owners: @Bisonai/blockchain

POC offchain aggregation (#1077)
  fetcher-v2/.gitignore
  fetcher-v2/admin/admin.go
  fetcher-v2/admin/node.go
  fetcher-v2/go.mod
  fetcher-v2/go.sum
  fetcher-v2/main.go
  fetcher-v2/testPubsub.sh
  fetcher-v2/utils/fetcher-node.go
  fetcher-v2/utils/libp2p.go
  fetcher-v2/utils/locals.go
  fetcher-v2/utils/utils.go
Owners: @Bisonai/blockchain, @joeybisonai

Foundry Data Feed Contracts (#1083)
  .gitmodules
  foundryContract/.github/workflows/test.yml
  foundryContract/.gitignore
  foundryContract/README.md
  foundryContract/foundry.toml
  foundryContract/src/Aggregator.sol
  foundryContract/src/AggregatorProxy.sol
  foundryContract/src/AggregatorRouter.sol
  foundryContract/src/SubmissionProxy.sol
  foundryContract/src/interfaces/IAggregator.sol
  foundryContract/src/interfaces/IAggregatorProxy.sol
  foundryContract/src/interfaces/IAggregatorRouter.sol
  foundryContract/src/interfaces/IAggregatorSubmit.sol
  foundryContract/src/interfaces/IAggregatorValidator.sol
  foundryContract/src/interfaces/ITypeAndVersion.sol
  foundryContract/src/libraries/Median.sol
  foundryContract/test/Aggregator.t.sol
  foundryContract/test/SubmissionProxy.t.sol
Owners: @Bisonai/blockchain

feat: concurrent search for peer discovery
  fetcher-v2/utils/libp2p.go
Owners: @Bisonai/blockchain

fixed git action error for contracts
  .github/workflows/contracts.test.yaml
Owners: @Bisonai/blockchain

push to trigger github action
  .github/workflows/vrf.contracts.test.yaml
  contracts-v0.1/README.md
  vrf/README.md
Owners: @Bisonai/blockchain

fix: remove related functionalities
  delegator/src/sign/sign.controller.ts
  delegator/src/sign/sign.service.ts
Owners: @Bisonai/blockchain

Update vrf/README.md
  vrf/README.md
Owners: @Bisonai/blockchain

moved github action in contract-v0.2 to root repo
  .github/workflows/contracts-v0.2.test.yaml
Owners: @Bisonai/blockchain

fix: remove unnecessary log
  go-api/aggregate/controller.go
Owners: @Bisonai/blockchain

feat: concurrent search for peer discovery (#1088)
  fetcher-v2/utils/libp2p.go
Owners: @Bisonai/blockchain

docs: update README.md
  fetcher-v2/README.md
  fetcher-v2/utils/fetcher-node.go
  fetcher-v2/utils/libp2p.go
Owners: @Bisonai/blockchain

added deployment script for submissionProxy and Aggregator
  .gitmodules
  contracts-v0.2/.env.example
  contracts-v0.2/.prettierignore
  contracts-v0.2/.prettierrc
  contracts-v0.2/README.md
  contracts-v0.2/deploy/Aggregator.s.sol
  contracts-v0.2/deploy/SubmissionProxy.s.sol
  contracts-v0.2/deploy/Utils.sol
  contracts-v0.2/deployments/Aggregator.s.sol/1001/run-latest.json
  contracts-v0.2/deployments/SubmissionProxy.s.sol/1001/run-latest.json
  contracts-v0.2/foundry.toml
  contracts-v0.2/migration/baobab/Aggregator/20230602160693_BNB-USDT.json
  contracts-v0.2/migration/baobab/Aggregator/20230602160693_BTC-USDT.json
  contracts-v0.2/migration/baobab/Aggregator/migration.lock
  contracts-v0.2/migration/local/Aggregator/20230602160693_BNB-USDT.json
  contracts-v0.2/migration/local/Aggregator/20230602160693_BTC-USDT.json
  contracts-v0.2/migration/local/Aggregator/migration.lock
  contracts-v0.2/test/Aggregator.t.sol
  contracts-v0.2/test/Utils.t.sol
Owners: @Bisonai/blockchain

feat: basic round-robin algorithm
  fetcher-v2/main.go
  fetcher-v2/utils/elector-node.go
Owners: @Bisonai/blockchain

fix: updates based on feedbacks
  fetcher-v2/utils/elector-node.go
Owners: @Bisonai/blockchain

feat: Update license
  LICENSE
  cli/LICENSE
  contracts-v0.1/LICENSE
  core/LICENSE
  delegator/LICENSE
  fetcher/LICENSE
  util/LICENSE
  vrf/LICENSE
Owners: @Bisonai/blockchain

fixed some issues on comment
  contracts-v0.2/README.md
  contracts-v0.2/deploy/Aggregator.s.sol
  contracts-v0.2/deploy/SubmissionProxy.s.sol
  contracts-v0.2/deploy/Utils.s.sol
  contracts-v0.2/test/Utils.t.sol
Owners: @Bisonai/blockchain

Deployment scripts with migrations style for datafeed contracts (#1094)
  .gitmodules
  contracts-v0.2/.env.example
  contracts-v0.2/.prettierignore
  contracts-v0.2/.prettierrc
  contracts-v0.2/README.md
  contracts-v0.2/deploy/Aggregator.s.sol
  contracts-v0.2/deploy/SubmissionProxy.s.sol
  contracts-v0.2/deploy/Utils.s.sol
  contracts-v0.2/deployments/Aggregator.s.sol/1001/run-latest.json
  contracts-v0.2/deployments/SubmissionProxy.s.sol/1001/run-latest.json
  contracts-v0.2/foundry.toml
  contracts-v0.2/migration/baobab/Aggregator/20230602160693_BNB-USDT.json
  contracts-v0.2/migration/baobab/Aggregator/20230602160693_BTC-USDT.json
  contracts-v0.2/migration/baobab/Aggregator/migration.lock
  contracts-v0.2/migration/local/Aggregator/20230602160693_BNB-USDT.json
  contracts-v0.2/migration/local/Aggregator/20230602160693_BTC-USDT.json
  contracts-v0.2/migration/local/Aggregator/migration.lock
  contracts-v0.2/test/Aggregator.t.sol
  contracts-v0.2/test/Utils.t.sol
Owners: @Bisonai/blockchain
