Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

fix: implement mutex
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

feat: add term for leader decision on two leaders
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

feat: initialization
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

feat: term implementation updates
  fetcher-v2/main.go
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

(API) Fix default behavior of empty row on `ErrNoRows` (#1117)
  go-api/aggregate/controller.go
  go-api/utils/utils.go
Owners: @Bisonai/blockchain

fix: except `Chain` field on validation
  go-api/aggregator/controller.go
Owners: @Bisonai/blockchain

fix: auto remove feeds on adapter removal
  go-api/adapter/controller.go
Owners: @Bisonai/blockchain

fix: add query to remove feed by adapter id
  go-api/adapter/controller.go
  go-api/feed/queries.go
Owners: @Bisonai/blockchain

fix: use cascade options
  go-api/adapter/controller.go
  go-api/feed/queries.go
  go-api/migrations/000001_initialize_tables.up.sql
Owners: @Bisonai/blockchain

fix: except `Chain` field on validation (#1118)
  go-api/aggregator/controller.go
Owners: @Bisonai/blockchain

(API) Hotfix adapter removal (#1119)
  go-api/adapter/controller.go
  go-api/migrations/000001_initialize_tables.up.sql
Owners: @Bisonai/blockchain

fix: add constraints for migration file
  go-api/migrations/000001_initialize_tables.up.sql
Owners: @Bisonai/blockchain

fix: update path for aggregator name
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: update based on goapi behavior
  cli/src/adapter.ts
  cli/src/aggregator.ts
  cli/src/chain.ts
  cli/src/proxy.ts
  cli/src/service.ts
  cli/src/vrf.ts
  cli/test/adapter.ts
  cli/test/aggregator.ts
  cli/test/chain.test.ts
  cli/test/mockData.ts
  cli/test/proxy.test.ts
  cli/test/service.test.ts
Owners: @Bisonai/blockchain

fix: rollback additional infos
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: separate print variable with return variable
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: fix test error
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
  cli/test/datafeed.test.ts
  cli/test/mockData.ts
Owners: @Bisonai/blockchain

fix: rollback print with feed name
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: fix migration typo
  go-api/migrations/000001_initialize_tables.up.sql
Owners: @Bisonai/blockchain

fix: add query to remove feed by adapter id
  go-api/feed/queries.go
Owners: @Bisonai/blockchain

fix: add detail param, default to no detail
  cli/src/datafeed.ts
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
  cli/src/utils.ts
  cli/test/datafeed.test.ts
Owners: @Bisonai/blockchain

Revert "fix: add detail param, default to no detail"
  cli/src/datafeed.ts
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
  cli/src/utils.ts
  cli/test/datafeed.test.ts
Owners: @Bisonai/blockchain

Revert "fix: rollback print with feed name"
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: update github action
  .github/workflows/cli.test.yaml
Owners: @Bisonai/blockchain

test: add test comment
  cli/src/listener.ts
Owners: @Bisonai/blockchain

test: update test comment
  .github/workflows/cli.test.yaml
  cli/src/listener.ts
Owners: @Bisonai/blockchain

fix: rollback comments
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/reporter.ts
Owners: @Bisonai/blockchain

fix: rollback unnecessary changes
  cli/test/mockData.ts
Owners: @Bisonai/blockchain

fix: remove unnecessary updates
  go-api/feed/queries.go
Owners: @Bisonai/blockchain

fix: update based on feedback
  cli/src/vrf.ts
Owners: @Bisonai/blockchain

(CLI) Fix cli test, update print list (#1113)
  .github/workflows/cli.test.yaml
  cli/src/adapter.ts
  cli/src/aggregator.ts
  cli/src/chain.ts
  cli/src/delegator.ts
  cli/src/listener.ts
  cli/src/proxy.ts
  cli/src/reporter.ts
  cli/src/service.ts
  cli/src/vrf.ts
  cli/test/adapter.ts
  cli/test/aggregator.ts
  cli/test/chain.test.ts
  cli/test/datafeed.test.ts
  cli/test/mockData.ts
  cli/test/proxy.test.ts
  cli/test/service.test.ts
  go-api/migrations/000001_initialize_tables.up.sql
Owners: @Bisonai/blockchain

(OraklNode) Basic Raft Implementation (#1115)
  fetcher-v2/main.go
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

feat: rename
  fetcher-v2/main.go
  fetcher-v2/node/submitter.go
  go.work.sum
Owners: @Bisonai/blockchain

fix: remove duplicate
  fetcher-v2/node/raft-node.go
Owners: @Bisonai/blockchain

fix: rename folder
  go.work
  go.work.sum
  node/.gitignore
  node/README.md
  node/admin/admin.go
  node/admin/node.go
  node/go.mod
  node/go.sum
  node/main.go
  node/node/submitter.go
  node/testPubsub.sh
  node/utils/elector-node.go
  node/utils/fetcher-node.go
  node/utils/libp2p.go
  node/utils/locals.go
  node/utils/utils.go
Owners: @Bisonai/blockchain, @joeybisonai

fix: restructure (wip)
  fetcher-v2/.gitignore
  fetcher-v2/README.md
  fetcher-v2/go.mod
  fetcher-v2/go.sum
  fetcher-v2/testPubsub.sh
  fetcher-v2/utils/locals.go
  go.work.sum
  node/admin/admin.go
  node/admin/node.go
  node/cmd/admin/main.go
  node/cmd/fetcher/main.go
  node/main.go
  node/pkg/admin/admin.go
  node/pkg/admin/node.go
  node/pkg/aggregator/aggregator.go
  node/pkg/bus/bus.go
  node/pkg/db/pgsql.go
  node/pkg/db/redis.go
  node/pkg/fetcher/fetcher.go
  node/pkg/libp2p/libp2p.go
  node/pkg/nodes/elector-node.go
  node/pkg/nodes/fetcher-node.go
  node/pkg/nodes/node.go
  node/pkg/nodes/submitter.go
  node/pkg/submitter/submitter.go
  node/pkg/utils/request.go
  node/pkg/utils/utils.go
  node/utils/elector-node.go
  node/utils/fetcher-node.go
  node/utils/libp2p.go
  node/utils/locals.go
  node/utils/utils.go
Owners: @Bisonai/blockchain, @joeybisonai

feat: save raft abstraction package
  node/pkg/admin/admin.go
  node/pkg/admin/node.go
  node/pkg/aggregator/aggregator.go
  node/pkg/fetcher/fetcher.go
  node/pkg/libp2p/libp2p.go
  node/pkg/nodes/elector-node.go
  node/pkg/nodes/fetcher-node.go
  node/pkg/nodes/node.go
  node/pkg/nodes/submitter.go
  node/pkg/raft/accessors.go
  node/pkg/raft/raft.go
  node/pkg/raft/types.go
  node/pkg/submitter/submitter.go
  node/pkg/utils/request.go
Owners: @joeybisonai, @Bisonai/blockchain

feat: package example implemetation
  go.work.sum
  node/cmd/admin/main.go
  node/cmd/fetcher/main.go
  node/cmd/main.go
  node/pkg/aggregator/aggregator.go
  node/pkg/libp2p/libp2p.go
  node/pkg/raft/accessors.go
  node/pkg/raft/raft.go
  node/pkg/raft/types.go
  node/pkg/utils/utils.go
Owners: @Bisonai/blockchain, @joeybisonai

fix: remove timestamp based id generator code
  node/pkg/utils/utils.go
Owners: @Bisonai/blockchain

fix: remove circular reference
  node/pkg/aggregator/aggregator.go
  node/pkg/raft/accessors.go
  node/pkg/raft/raft.go
  node/pkg/raft/types.go
Owners: @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @Bisonai/blockchain
admin/                                  @joeybisonai
monitor/                                @Bisonai/infra
docker-compose.*                        @Bisonai/infra
