Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

fix: Correct variable name when reading from DataFeedConsumerMock
  contracts/hardhat.config.cjs
Owners: @martinkersner

chore: Listener service name unification w/ Worker & Reporter
  core/package.json
  core/src/listener/main.ts
Owners: @martinkersner

feat: Unify and capitalize service names
  core/package.json
  core/src/reporter/main.ts
  core/src/settings.ts
  core/src/worker/main.ts
Owners: @martinkersner

added encrypt and decrypt private key in reporter
  api/src/reporter/reporter.controller.ts
  api/src/reporter/reporter.service.ts
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

Feat bull monitor detail component (#621)
  admin/package.json
  admin/src/app/bullmonitor/[serviceId]/page.tsx
  admin/src/app/bullmonitor/layout.tsx
  admin/src/app/bullmonitor/page.tsx
  admin/src/app/layout.tsx
  admin/src/app/page.tsx
  admin/src/app/styled.ts
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/Header/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Common/refreshIcon/index.tsx
  admin/src/components/Template/BullMonitor/AggregatorTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/RequestResponseTable/index.tsx
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/BullMonitor/VrfTable/index.tsx
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/components/Template/BullMonitor/main.tsx
  admin/src/components/Template/Home/index.tsx
  admin/src/theme/theme.tsx
  admin/src/utils/api.ts
  admin/src/utils/index.ts
  admin/src/utils/route.ts
  admin/src/utils/types.ts
  admin/yarn.lock
Owners: @martinkersner

added ENCRYPT_PASSWORD key in .env.example, remove endpoint encrypt,decrypt in reporter controller
  api/.env.example
  api/src/reporter/reporter.controller.ts
  api/src/reporter/reporter.service.ts
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

feat: Single reporter for VRF & RR
  core/src/reporter/job.ts
  core/src/reporter/request-response.ts
  core/src/reporter/vrf.ts
Owners: @martinkersner

feat: Add tab context provider
  admin/src/components/Common/TabContextProvider/index.tsx
Owners: @martinkersner

feat: Tab list component
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Common/TabList/styled.ts
Owners: @martinkersner

feat: Tab panel component
  admin/src/components/Common/TabPanel/index.tsx
  admin/src/components/Common/TabPanel/styled.ts
Owners: @martinkersner

feat: Add types
  admin/src/hook/useTabContext.ts
  admin/src/utils/api.ts
  admin/src/utils/types.ts
Owners: @martinkersner

fix: Detail header routing system
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
Owners: @martinkersner

feat: Detail tab component
  admin/src/components/Template/BullMonitor/DetailTab/index.tsx
  admin/src/components/Template/BullMonitor/detail.tsx
Owners: @martinkersner

chore: Pass num submission to `requestDataUint128` script
  contracts/scripts/v0.1/request-response/request-data.cjs
Owners: @martinkersner

fix: Listener AGGREGATOR -> DATA_FEED
  core/src/listener/main.ts
Owners: @martinkersner

chore: start:*:data-feed -> start:*:data_feed
  core/package.json
Owners: @martinkersner

feat: Merge all reporters to one, create through factory
  core/src/reporter/data-feed.ts
  core/src/reporter/factory.ts
  core/src/reporter/job.ts
  core/src/reporter/main.ts
  core/src/reporter/reporter.ts
  core/src/reporter/request-response.ts
  core/src/reporter/vrf.ts
  core/src/settings.ts
Owners: @martinkersner

feat: Basic data feed `buildTransaction` test
  core/test/data-feed-worker.test.ts
Owners: @martinkersner

feat: Specify unknow RR jobID error
  core/src/errors.ts
  core/src/worker/request-response.utils.ts
Owners: @martinkersner

added test case for encrypt,decrypt private key
  api/prisma/migrations/20230518033615_reporter_alter_private_key_type/migration.sql
  api/prisma/schema.prisma
  api/src/reporter/reporter.service.spec.ts
Owners: @martinkersner

fixed yarn test error in action
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

fix: Reentrancy in fulfillDataRequestUint128
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

fix: Incorrectly initialize a function selector that maps to a job id
  contracts/src/v0.1/RequestResponseConsumerBase.sol
Owners: @bayram98

fix: Unverify `jobId`/`isDirectPayment` when RR oracle submit
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
Owners: @bayram98, @Bisonai/blockchain

fix: Update RR test to reflect on-chain RR changes
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

fix: Revert RR fulfillment test
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
Owners: @martinkersner

fix: Tab layout
  admin/src/components/Common/TabList/styled.ts
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
Owners: @martinkersner

chore: tab id to lower case
  admin/src/utils/types.ts
Owners: @martinkersner

feat: Connect table data to detail table component
  admin/src/components/Template/BullMonitor/DetailTab/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/detail.tsx
Owners: @martinkersner

Reflect audit findings (#626)
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @Bisonai/blockchain, @martinkersner

Feat detail page tab component (#625)
  admin/src/components/Common/TabContextProvider/index.tsx
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Common/TabList/styled.ts
  admin/src/components/Common/TabPanel/index.tsx
  admin/src/components/Common/TabPanel/styled.ts
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
  admin/src/components/Template/BullMonitor/DetailTab/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/hook/useTabContext.ts
  admin/src/utils/api.ts
  admin/src/utils/types.ts
Owners: @martinkersner

fix: Button component
  admin/src/components/Common/BasicButton/index.tsx
Owners: @martinkersner

fix: Header and nav dropdown style
  admin/src/components/Common/Header/styled.ts
  admin/src/components/Common/NavigationDropdown/styled.ts
Owners: @martinkersner

fix: Detail page layout
  admin/src/components/Common/TabList/styled.ts
  admin/src/components/Common/TabPanel/styled.ts
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/BullMonitor/detail.tsx
Owners: @martinkersner

fix: Main page layout
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/BullMonitor/TableHeader/styled.ts
  admin/src/theme/globals.css
  admin/src/theme/theme.tsx
Owners: @martinkersner

fix: Monitor table layout
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
Owners: @martinkersner

fix: Endpoint
  admin/src/utils/api.ts
Owners: @martinkersner

feat: Add detail table component
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
Owners: @martinkersner

feat: Add format function
  admin/src/utils/index.ts
Owners: @martinkersner

chore: Table hover color
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
Owners: @martinkersner
