Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

fix: Listener setup through new `--service` param
  core/package.json
  core/src/listener/main.ts
Owners: @martinkersner

Listener setup through new `--service` param (#400)
  core/package.json
  core/src/listener/main.ts
Owners: @martinkersner

fix: Add missing env variables to .env.example
  core/.env.example
Owners: @martinkersner

chore: Cleanup core README
  core/README.md
Owners: @martinkersner

fix: Add missing `ORAKL_NETWORK_API_URL`
  core/.env.example
Owners: @martinkersner

fix: Remove `HOST_SETTINGS_DB_DIR`
  core/.env.example
Owners: @martinkersner

Add missing env variables & Cleanup core README (#403)
  core/.env.example
  core/README.md
Owners: @martinkersner

added KEY_HASH in env, fix error write data in json file, modify reporter(the way to get data)
  testbots/consumer-testbot-VRF-RR/src/listener/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/listener/vrf-consumer.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/main.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/vrf.ts
  testbots/consumer-testbot-VRF-RR/src/request/main.ts
  testbots/consumer-testbot-VRF-RR/src/request/request-response-direct.ts
  testbots/consumer-testbot-VRF-RR/src/request/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/request/vrf-consumer-direct.ts
  testbots/consumer-testbot-VRF-RR/src/request/vrf-consumer.ts
Owners: @martinkersner

Dockerize and fixed prisma setting (#397)
  api/docker-compose.build.yaml
  api/package.json
  api/prisma/schema.prisma
  api/src/Dockerfile
Owners: @joseph-bisonai, @martinkersner

feat: Add `timeout-minutes: 3` for every github actions pipeline
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

Add `timeout-minutes: 3` for every github actions pipeline (#405)
  .github/workflows/api.test+build.yaml
  .github/workflows/cli.build+publish.yaml
  .github/workflows/contracts.publish.yaml
  .github/workflows/contracts.test.yaml
  .github/workflows/core.test+build.yaml
  .github/workflows/delegator.test+build.yaml
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.build+publish.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

reset requested number in reporter sumary
  testbots/consumer-testbot-VRF-RR/src/reporter/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/vrf.ts
Owners: @martinkersner

fixed worker api basic call address
  core/src/worker/api.ts
  fetcher/docker-compose.build.yaml
  fetcher/src/Dockerfile
Owners: @martinkersner, @joseph-bisonai

remove unchecked iterator increments
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

formatting my code
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

format my code
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

Optimize gas fee (#401)
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

Fix worker api basic call address (#408)
  core/src/worker/api.ts
  fetcher/docker-compose.build.yaml
  fetcher/src/Dockerfile
Owners: @martinkersner, @joseph-bisonai

wip: Listener control without service restart
  core/package.json
  core/src/listener/api.ts
  core/src/listener/data-feed.ts
  core/src/listener/eventOld.ts
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
  core/src/types.ts
  core/yarn.lock
Owners: @martinkersner

Changed var names to be consistent
  core/src/worker/aggregator.ts
  core/src/worker/main.ts
  core/src/worker/vrf.ts
Owners: @martinkersner

set date variable in report function, fixed error listener write data of many days
  testbots/consumer-testbot-VRF-RR/src/listener/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/listener/vrf-consumer.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/main.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/request-response.ts
  testbots/consumer-testbot-VRF-RR/src/reporter/vrf-summary-2023-03-19.json
  testbots/consumer-testbot-VRF-RR/src/reporter/vrf.ts
Owners: @martinkersner

Changed var names to be consistent (#411)
  core/src/worker/aggregator.ts
  core/src/worker/main.ts
  core/src/worker/vrf.ts
Owners: @martinkersner

fix: Fix test hash value on api-data
  api/src/data/data.service.spec.ts
Owners: @martinkersner

feat: Orakl Listner State
  core/src/listener/state.ts
Owners: @martinkersner

fix: remove optinal active field from aggregator
  api/src/aggregator/aggregator.controller.ts
  api/src/aggregator/aggregator.service.ts
  api/src/aggregator/dto/aggregator-query.dto.ts
  api/src/aggregator/dto/aggregator-update.dto.ts
  api/src/aggregator/dto/aggregator.dto.ts
  cli/src/aggregator.ts
  cli/src/cli-types.ts
  cli/src/utils.ts
  cli/test/aggregator.ts
  core/src/types.ts
  core/src/worker/aggregator.ts
  core/src/worker/api.ts
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

fix: imrove test
  api/src/aggregator/aggregator.service.spec.ts
  api/src/data/data.service.spec.ts
Owners: @martinkersner

feat: Add `State` and `PubSubStop`
  core/src/errors.ts
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/pub-sub-stop.ts
  core/src/listener/state.ts
  core/src/listener/utils.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
  core/src/settings.ts
Owners: @martinkersner

feat: update api-prisma & generate new migrate file
  api/prisma/migrations/20230320073247_init/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

chore: Delete old listener
  core/src/listener/eventOld.ts
Owners: @martinkersner

chore: Cleanup
  core/src/listener/listener.ts
  core/src/settings.ts
  core/src/types.ts
Owners: @martinkersner

fix: eslint
  core/src/listener/main.ts
  core/src/listener/pub-sub-stop.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
Owners: @martinkersner

feat: Connect Listener Watchman with CLI
  cli/src/listener.ts
  cli/src/utils.ts
  core/src/listener/listener.ts
  core/src/listener/watchman.ts
Owners: @martinkersner

fix: Listener test
  core/src/listener/utils.ts
  core/src/types.ts
  core/test/listener.test.ts
Owners: @martinkersner

feat: Make `id` and `chain` properties required in `IListenerConfig`
  core/src/types.ts
  core/test/listener.test.ts
Owners: @martinkersner

feat: Orakl Network CLI Listener settings
  cli/src/listener.ts
  cli/src/settings.ts
Owners: @martinkersner

feat: Remove pubsub from listener watchman
  core/src/listener/listener.ts
  core/src/listener/pub-sub-stop.ts
  core/src/listener/state.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
  core/src/utils.ts
Owners: @martinkersner

feat: Shift debug log listener
  core/src/listener/listener.ts
Owners: @martinkersner

feat: Apply watchmen on RR & Aggregator
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/types.ts
  core/src/listener/vrf.ts
  core/src/settings.ts
Owners: @martinkersner

fix: Store observed block number before observing
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
Owners: @martinkersner

feat: Add `listener active` to orakl-cli
  cli/src/listener.ts
Owners: @martinkersner
