Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

Fix variable never initialized warning from slither (#566)
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner, @KelvinThai, @bayram98

feat: Test for VRFCoordinator temporary account fulfillment
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

Fix reentrancy warning from silther in prepayment (#567)
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

Allow to register multiple reporters in VRF to enable better off-chain scaling (#568)
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Update conversion and change uint256 job to uin128
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner, @Bisonai/blockchain

prisma migration deploy
  api/package.json
Owners: @martinkersner

prisma migration deploy
  delegator/package.json
Owners: @bayram98

feat: Conversion test
  contracts/src/v0.1/mocks/ConversionTest.sol
  contracts/test/v0.1/Conversion.test.cjs
Owners: @martinkersner

fix: Prettier
  contracts/src/v0.1/mocks/ConversionTest.sol
Owners: @martinkersner

CICD : prisma database migration in production (#572)
  api/package.json
  delegator/package.json
Owners: @martinkersner, @bayram98

feat: VRF increase nonce test
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @KelvinThai, @martinkersner

feat: Request-Response nonce increment test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

chore: Typo
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

Increase `nonce` test (#575)
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @KelvinThai, @martinkersner

feat: VRF `reqCount` increase test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Request-Response increase `reqCount` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

Update data type conversion and change `uint256` job to `uint128` job (#570)
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/mocks/ConversionTest.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/Conversion.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner, @Bisonai/blockchain

Increase `reqCount` test (#578)
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Revert VRF coordinator fulfillment test
  contracts/src/v0.1/mocks/VRFConsumerRevertFulfillmentMock.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner

feat: set fetcher default function to MEDIAN
  fetcher/src/job/job.aggregator.ts
Owners: @martinkersner

feat: redirect trx-usdt aggregator proxy
  contracts/migration/baobab/Aggregator/20230421162903_TRX-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230427140556_TRX-USDT-proxyRedirect-confirm.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: Check balance of prot. fee rec and oracle after failed callback
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner

feat: Request-Response revert fulfillment test
  contracts/src/v0.1/mocks/RequestResponseConsumerRevertFulfillmentMock.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
Owners: @martinkersner

feat: Rever RequestResponse fulfillment check payment and success
  contracts/src/v0.1/mocks/RequestResponseConsumerRevertFulfillmentMock.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
Owners: @martinkersner

chore: Fix comments
  contracts/src/v0.1/mocks/RequestResponseConsumerRevertFulfillmentMock.sol
  contracts/src/v0.1/mocks/VRFConsumerRevertFulfillmentMock.sol
Owners: @martinkersner

Test VRFCoordinator & RequestResponseCoordinator reversion of fulfillment (#580)
  contracts/src/v0.1/mocks/RequestResponseConsumerRevertFulfillmentMock.sol
  contracts/src/v0.1/mocks/VRFConsumerRevertFulfillmentMock.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner

feat: Use `typeAndVersion` for Aggregator
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/AggregatorProxy.sol
  contracts/src/v0.1/interfaces/IAggregator.sol
  contracts/src/v0.1/interfaces/IAggregatorProxy.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner, @Bisonai/blockchain

Use `typeAndVersion` for Aggregator (#582)
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/AggregatorProxy.sol
  contracts/src/v0.1/interfaces/IAggregator.sol
  contracts/src/v0.1/interfaces/IAggregatorProxy.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner, @Bisonai/blockchain

feat: Test for canceling an invalid request
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Test for canceling VRF request with an incorrect signer
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner

chore: Refactor and reuse code
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorBase.utils.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFConsumerMock.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner

Test for canceling invalid requests or canceling request with sender that did not initiate the request (#584)
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorBase.utils.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFConsumerMock.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner

feat: Fee tier test
  contracts/src/v0.1/mocks/CoordinatorBaseMock.sol
  contracts/test/v0.1/CoordinatorBaseMock.test.cjs
Owners: @martinkersner

Fee tier test (#586)
  contracts/src/v0.1/mocks/CoordinatorBaseMock.sol
  contracts/test/v0.1/CoordinatorBaseMock.test.cjs
Owners: @martinkersner

fix: Remove compilation warning from Median
  contracts/src/v0.1/libraries/Median.sol
Owners: @martinkersner

Remove compilation warning from Median (#588)
  contracts/src/v0.1/libraries/Median.sol
Owners: @martinkersner

chore: Remove unused modifier
  contracts/src/v0.1/Account.sol
Owners: @martinkersner

chore: Remove compilation warning
  contracts/src/v0.1/mocks/CoordinatorBaseMock.sol
Owners: @martinkersner

feat: Account `addConsumer` idempotance test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

chore: Remove `cancelAccountTemporary` function
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai
