Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Bisonai/blockchain, @joeybisonai, @Bisonai/infra

.github/CODEOWNERS:

*                                       @Bisonai/blockchain
admin/                                  @joeybisonai
monitor/                                @Bisonai/infra
docker-compose.*                        @Bisonai/infra

feat: Add docker build CI/CD for baobab, cypress
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

Increase orakl contract package version to include Registry, and L2Endpoint (#768)
  contracts/deploy/Registry/Registry.cjs
  contracts/package.json
  contracts/scripts/v0.1/registry/proposeChain.cjs
Owners: @Bisonai/blockchain

fix: Seperate build steps to baobab, cypress
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

fix: Fix workflow syntax error
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

fix: Remove unused part
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

fix: Remove `paths` for testing
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

chore: Comment on push part in workflow
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

fix: Build error
  admin/src/utils/types.ts
Owners: @joeybisonai

fix: Add toast to adapter component
  admin/src/components/Template/Configuration/Adapter/index.tsx
Owners: @joeybisonai

fix: Service config endpoint
  admin/src/components/Template/Configuration/Service/index.tsx
Owners: @joeybisonai

fix: Aggregator component
  admin/src/components/Template/Configuration/Aggregator/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
Owners: @joeybisonai

Fix admin qa issues (#770)
  admin/src/components/Template/Configuration/Adapter/index.tsx
  admin/src/components/Template/Configuration/Aggregator/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
  admin/src/components/Template/Configuration/Service/index.tsx
  admin/src/utils/types.ts
Owners: @joeybisonai

fix: Revert CMD format(using EXEC form)
  admin/Dockerfile
Owners: @joeybisonai

fix: Remove unused code
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

fix: Modify wrong name of prepare job
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

added L1Endpoint contract
  contracts/src/v0.1/L1Endpoint.sol
Owners: @Bisonai/blockchain

feat: Change URL from external IP to localhost
  .github/workflows/admin.image+upload.yaml
Owners: @Bisonai/blockchain

feat: Add ARG ORAKL_URL
  admin/Dockerfile
Owners: @joeybisonai

Integrate .env of admin page with Dockerfile (#771)
  .github/workflows/admin.image+upload.yaml
  admin/Dockerfile
Owners: @Bisonai/blockchain, @joeybisonai

added test case for L1Endpoint
  contracts/src/v0.1/L1Endpoint.sol
  contracts/test/v0.1/L1Endpoint.test.cjs
Owners: @Bisonai/blockchain

feat: add registry deployment scripts
  contracts/package.json
Owners: @Bisonai/blockchain

feat: deploy Registry contract to baobab
  contracts/deployments/baobab/Registry.json
Owners: @Bisonai/blockchain

fix: consumer address
  contracts/scripts/v0.1/registry/proposeChain.cjs
Owners: @Bisonai/blockchain

deploy registry to baobab
  contracts/deployments/baobab/Registry.json
Owners: @Bisonai/blockchain

fix: improve registry and deployment script
  contracts/package.json
  contracts/scripts/v0.1/registry/proposeChain.cjs
Owners: @Bisonai/blockchain

feat: setup config api with prisma
  config-api/.env.example
  config-api/.eslintrc.js
  config-api/.gitignore
  config-api/.prettierrc
  config-api/README.md
  config-api/nest-cli.json
  config-api/package.json
  config-api/prisma/schema.prisma
  config-api/src/app.controller.spec.ts
  config-api/src/app.controller.ts
  config-api/src/app.module.ts
  config-api/src/app.service.ts
  config-api/src/main.ts
  config-api/test/app.e2e-spec.ts
  config-api/test/jest-e2e.json
  config-api/tsconfig.build.json
  config-api/tsconfig.json
  config-api/yarn.lock
Owners: @Bisonai/blockchain

deploy registry contract to baobab (#774)
  contracts/deployments/baobab/Registry.json
  contracts/package.json
  contracts/scripts/v0.1/registry/proposeChain.cjs
Owners: @Bisonai/blockchain

feat: install prisma dependency
  config-api/package.json
  config-api/yarn.lock
Owners: @Bisonai/blockchain

feat: initiate prisma migration file & basic db config setup
  config-api/prisma/migrations/20230803082904_init/migration.sql
  config-api/prisma/migrations/migration_lock.toml
  config-api/prisma/schema.prisma
Owners: @Bisonai/blockchain

feat: update prisma table structure
  config-api/prisma/migrations/20230803082904_init/migration.sql
  config-api/prisma/migrations/20230803093130_init/migration.sql
  config-api/prisma/schema.prisma
Owners: @Bisonai/blockchain

feat: update prisma struct for reporters orakl address
  config-api/prisma/migrations/20230804054301_init/migration.sql
  config-api/prisma/schema.prisma
Owners: @Bisonai/blockchain

L1 endpoint contract for vrf request from L2 (#776)
  contracts/src/v0.1/L1Endpoint.sol
  contracts/test/v0.1/L1Endpoint.test.cjs
Owners: @Bisonai/blockchain

split functions for datafeeds, VRF and RR
  contracts/src/v0.1/Registry.sol
Owners: @Bisonai/blockchain

used mappings for fee payers and consumers
  contracts/src/v0.1/Registry.sol
Owners: @Bisonai/blockchain

added modifiers
  contracts/src/v0.1/Registry.sol
Owners: @Bisonai/blockchain

fix: rename config-api to relavent L2 api
  l2-api/.env.example
  l2-api/.eslintrc.js
  l2-api/.gitignore
  l2-api/.prettierrc
  l2-api/README.md
  l2-api/nest-cli.json
  l2-api/package.json
  l2-api/prisma/migrations/20230804054301_init/migration.sql
  l2-api/prisma/migrations/migration_lock.toml
  l2-api/prisma/schema.prisma
  l2-api/src/app.controller.spec.ts
  l2-api/src/app.controller.ts
  l2-api/src/app.module.ts
  l2-api/src/app.service.ts
  l2-api/src/main.ts
  l2-api/test/app.e2e-spec.ts
  l2-api/test/jest-e2e.json
  l2-api/tsconfig.build.json
  l2-api/tsconfig.json
  l2-api/yarn.lock
Owners: @Bisonai/blockchain

fix: rename config-api to relavent L2 api
  config-api/.env.example
  config-api/.eslintrc.js
  config-api/.gitignore
  config-api/.prettierrc
  config-api/README.md
  config-api/nest-cli.json
  config-api/package.json
  config-api/prisma/migrations/20230804054301_init/migration.sql
  config-api/prisma/migrations/migration_lock.toml
  config-api/prisma/schema.prisma
  config-api/src/app.controller.spec.ts
  config-api/src/app.controller.ts
  config-api/src/app.module.ts
  config-api/src/app.service.ts
  config-api/src/main.ts
  config-api/test/app.e2e-spec.ts
  config-api/test/jest-e2e.json
  config-api/tsconfig.build.json
  config-api/tsconfig.json
  config-api/yarn.lock
Owners: @Bisonai/blockchain

feat: define engine type Binary on prisma
  l2-api/prisma/migrations/20230814011459_init/migration.sql
  l2-api/prisma/schema.prisma
Owners: @Bisonai/blockchain

feat: add app settings file
  l2-api/src/app.settings.ts
Owners: @Bisonai/blockchain

feat: connect app with prisma
  l2-api/src/prisma.service.ts
Owners: @Bisonai/blockchain
