Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

feat: enable Cors for delegator
  delegator/src/app.settings.ts
Owners: @bayram98

fix: remove unnecessary await
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: remove comments
  delegator/src/sign/sign.service.ts
Owners: @bayram98

Fix delegator initialization (#744)
  delegator/src/app.settings.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

chore: Replace title text
  admin/src/components/Template/Configuration/Adapter/index.tsx
  admin/src/components/Template/Configuration/Aggregator/index.tsx
  admin/src/components/Template/Configuration/Delegator/styled.ts
  admin/src/components/Template/Configuration/Listener/index.tsx
  admin/src/components/Template/Configuration/Reporter/index.tsx
Owners: @martinkersner

Feat orakl admin configuration (#740)
  admin/.env.example
  admin/src/components/Common/DimmedPopup/index.tsx
  admin/src/components/Common/DimmedPopup/styled.ts
  admin/src/components/Common/DimmedPopupProvider/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Template/Configuration/Adapter/index.tsx
  admin/src/components/Template/Configuration/Aggregator/index.tsx
  admin/src/components/Template/Configuration/Chain/index.tsx
  admin/src/components/Template/Configuration/Chain/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/styled.ts
  admin/src/components/Template/Configuration/Delegator/index.tsx
  admin/src/components/Template/Configuration/Delegator/styled.ts
  admin/src/components/Template/Configuration/Listener/index.tsx
  admin/src/components/Template/Configuration/Reporter/index.tsx
  admin/src/components/Template/Configuration/Service/index.tsx
  admin/src/components/Template/Configuration/VrfKeys/index.tsx
  admin/src/components/Template/Configuration/detail.tsx
  admin/src/lib/useApi.ts
  admin/src/utils/api.ts
  admin/src/utils/types.ts
Owners: @martinkersner

feat: Add Delegator component
  admin/src/components/Template/Configuration/Delegator/index.tsx
Owners: @martinkersner

fix: Delegator component layout
  admin/src/components/Common/TabPanel/styled.ts
  admin/src/components/Template/Configuration/Delegator/index.tsx
  admin/src/components/Template/Configuration/Delegator/styled.ts
  admin/src/utils/types.ts
Owners: @martinkersner

some basic functions for datafeeds
  contracts/src/v0.1/L2Registry.sol
Owners: @martinkersner

add L2endpoint
  contracts/src/v0.1/L2endpoint.sol
  contracts/src/v0.1/Registry.sol
Owners: @martinkersner

feat: Add API request for adding and deleting data in Adapter component
  admin/src/components/Template/Configuration/Adapter/index.tsx
Owners: @martinkersner

feat: Add styled components for Adapter component
  admin/src/components/Template/Configuration/Adapter/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/styled.ts
Owners: @martinkersner

fix: Update data handling in DataTable component
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
Owners: @martinkersner

format code Registry, added new L2Endpoint contract
  contracts/src/v0.1/L2endpoint.sol
  contracts/src/v0.1/Registry.sol
Owners: @martinkersner

fix: Adapter component layout
  admin/src/components/Template/Configuration/Adapter/index.tsx
  admin/src/components/Template/Configuration/Adapter/styled.ts
Owners: @martinkersner

remove: Unused code
  admin/src/components/Template/Configuration/Adapter/index.tsx
Owners: @martinkersner

refactor: RenderTabContent function for improve UX
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
Owners: @martinkersner

fix: Monitor table layout
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
  admin/src/components/Template/BullMonitor/main.tsx
Owners: @martinkersner

fix: Scroll button layout
  admin/src/components/Common/ScrollButton/index.tsx
  admin/src/components/Common/ScrollButton/styled.ts
  admin/src/components/Template/BullMonitor/detail.tsx
Owners: @martinkersner

fix: Add no data available message to Adapter component
  admin/src/components/Template/Configuration/Adapter/index.tsx
Owners: @martinkersner

fix: Handle loading and error states in Delegator component
  admin/src/components/Template/Configuration/Delegator/index.tsx
Owners: @martinkersner

add: ErrorMessage
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
Owners: @martinkersner

added submit function in L2Endpoint contract and testcase
  contracts/src/v0.1/L2endpoint.sol
  contracts/src/v0.1/interfaces/IL2Aggregator.sol
  contracts/test/v0.1/L2Endpoint.test.cjs
Owners: @martinkersner, @Bisonai/blockchain

feat: Implement token verification on page refresh
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/components/Template/BullMonitor/main.tsx
  admin/src/components/Template/Configuration/detail.tsx
  admin/src/components/Template/Home/Login/index.tsx
  admin/src/components/Template/Home/index.tsx
Owners: @martinkersner

remove: Refresh icon component
  admin/src/components/Common/refreshIcon/index.tsx
Owners: @martinkersner

feat: Add refresh icon component
  admin/src/components/Common/RefreshIcon/index.tsx
Owners: @martinkersner

remove: Console.log
  admin/src/components/Common/RefreshIcon/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
Owners: @martinkersner

fix: Nav dropdown UI/UX
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
Owners: @martinkersner

Add delegator,adapter gui for node operators (#746)
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/RefreshIcon/index.tsx
  admin/src/components/Common/ScrollButton/index.tsx
  admin/src/components/Common/ScrollButton/styled.ts
  admin/src/components/Common/TabPanel/styled.ts
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/components/Template/BullMonitor/main.tsx
  admin/src/components/Template/Configuration/Adapter/index.tsx
  admin/src/components/Template/Configuration/Adapter/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/DataTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/styled.ts
  admin/src/components/Template/Configuration/Delegator/index.tsx
  admin/src/components/Template/Configuration/Delegator/styled.ts
  admin/src/components/Template/Configuration/detail.tsx
  admin/src/components/Template/Home/Login/index.tsx
  admin/src/components/Template/Home/index.tsx
  admin/src/utils/types.ts
Owners: @martinkersner

chore: Delete .DS_Store
  .DS_Store
Owners: @martinkersner
