Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

fix: Remove empty console log
  cli/src/index.ts
Owners: @martinkersner

feat: Bump up Orakl CLI version
  cli/package.json
Owners: @martinkersner

Fix Orakl Network CLI Issues (#461)
  api/prisma/migrations/20230328063843_aggregator_on_delete_cascade/migration.sql
  api/prisma/schema.prisma
  api/src/adapter/adapter.service.ts
  api/src/aggregator/aggregator.controller.ts
  api/src/aggregator/aggregator.service.ts
  cli/package.json
  cli/src/index.ts
Owners: @martinkersner

feat: set db variable max lenth
  delegator/prisma/migrations/20230328073922_init/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

feat: Include links to documentation from README
  fetcher/README.md
Owners: @martinkersner

feat:add validateTransaction
  delegator/src/app.module.ts
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: fix contract test
  delegator/src/contract/contract.service.spec.ts
Owners: @bayram98

feat: fix contract tests
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
Owners: @bayram98

fix: fix Function tests
  delegator/src/function/dto/function.dto.ts
  delegator/src/function/function.service.spec.ts
  delegator/src/function/function.service.ts
Owners: @bayram98

update: make reporter address unique
  delegator/prisma/migrations/20230329025420_init/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

chore: Update README
  fetcher/README.md
Owners: @martinkersner

feat: Define data types
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
Owners: @martinkersner

feat: Define types
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

fix: Pass missing logger
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
Owners: @martinkersner

cleanup: fix reporter issues
  delegator/src/organization/organization.service.spec.ts
  delegator/src/reporter/dto/reporter.dto.ts
  delegator/src/reporter/reporter.controller.spec.ts
  delegator/src/reporter/reporter.service.spec.ts
  delegator/src/reporter/reporter.service.ts
Owners: @bayram98

test: improve sign test
  delegator/src/sign/sign.module.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: test:e2e errors
  delegator/src/contract/contract.module.ts
  delegator/src/function/function.module.ts
  delegator/src/reporter/reporter.module.ts
  delegator/src/sign/sign.module.ts
Owners: @bayram98

fix: how to get transaction
  delegator/src/sign/sign.service.ts
Owners: @bayram98

chore: update README
  delegator/README.md
Owners: @bayram98

chore: update README
  delegator/README.md
Owners: @bayram98

chore: update README
  delegator/README.md
Owners: @bayram98

fix: fix conflict, remove BigInt conversion
  delegator/src/function/function.service.ts
Owners: @bayram98

feat: add flattenFunction
  delegator/src/function/function.service.ts
  delegator/src/function/functions.utils.ts
Owners: @bayram98

chore: Remove outdated comment
  fetcher/src/job/job.controller.ts
Owners: @martinkersner

fix: change functionEncode variable size to 10 char
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: update error name to NotApprovedTransaction
  delegator/src/sign/errors.ts
Owners: @bayram98

feat: Filter failed data collection
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

chore: README typo
  fetcher/README.md
Owners: @martinkersner

feat: add optinal function, contract, reporter relation to transaction
  delegator/prisma/migrations/20230330065407_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: change unique function name
  delegator/prisma/migrations/20230330073945_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.ts
Owners: @bayram98

DB for delegator white list settings (#456)
  delegator/.env.example
  delegator/README.md
  delegator/prisma/migrations/20230313044553_init/migration.sql
  delegator/prisma/migrations/20230330073945_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/app.module.ts
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.module.ts
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/dto/contract.dto.ts
  delegator/src/function/dto/function.dto.ts
  delegator/src/function/function.controller.ts
  delegator/src/function/function.module.ts
  delegator/src/function/function.service.spec.ts
  delegator/src/function/function.service.ts
  delegator/src/function/functions.utils.ts
  delegator/src/main.ts
  delegator/src/organization/dto/organization.dto.ts
  delegator/src/organization/organization.controller.ts
  delegator/src/organization/organization.module.ts
  delegator/src/organization/organization.service.spec.ts
  delegator/src/organization/organization.service.ts
  delegator/src/reporter/dto/reporter.dto.ts
  delegator/src/reporter/reporter.controller.ts
  delegator/src/reporter/reporter.module.ts
  delegator/src/reporter/reporter.service.spec.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.controller.ts
  delegator/src/sign/sign.module.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

Remove failed data feeds in Orakl Network Fetcher before inserting to the Orakl Network API (#462)
  fetcher/README.md
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

added more functions to allow multiple data types in request-response contracts
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/RequestResponseCoordinatorInterface.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  testbots/consumer-testbot-VRF-RR/.gitignore
Owners: @bayram98, @Bisonai/blockchain, @martinkersner

Delete .gitignore
  testbots/consumer-testbot-VRF-RR/.gitignore
Owners: @martinkersner

Check if the given item is not found, issue #467
  core/src/errors.ts
  core/src/listener/state.ts
  core/src/reporter/state.ts
  core/src/worker/state.ts
Owners: @martinkersner

Check if the given item is not found (#467)
  core/src/listener/state.ts
  core/src/reporter/state.ts
  core/src/worker/state.ts
Owners: @martinkersner

fix: setup organization->reporter relation
  delegator/prisma/migrations/20230403041355_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/reporter/dto/reporter.dto.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

Created function to detect fulfill function selector, created modifier verifyRawFulfillment, removed mapping sFulfillFunctionSelector, check JobId valid
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @bayram98, @martinkersner

Optimize the code as is required (#467)
  core/src/listener/state.ts
  core/src/reporter/state.ts
  core/src/worker/state.ts
Owners: @martinkersner

fix warning in validateJobId
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98
