Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

fix: Better check in `Prepayment.isValid`
  contracts/src/v0.1/Prepayment.sol
  contracts/yarn.lock
Owners: @KelvinThai, @martinkersner

fix: Remove `build` command
  .github/workflows/contracts.publish.yaml
  .github/workflows/contracts.test.yaml
  contracts/package.json
  contracts/yarn.lock
Owners: @martinkersner

Add missing changes from #531 (#535)
  .github/workflows/contracts.publish.yaml
  .github/workflows/contracts.test.yaml
  contracts/hardhat.config.cjs
  contracts/package.json
  contracts/scripts/v0.1/utils.cjs
  contracts/src/v0.1/Prepayment.sol
  contracts/yarn.lock
Owners: @martinkersner, @KelvinThai

Remove serviceId from Reporters uniqueness (#534)
  api/prisma/migrations/20230419030642_reporter_remove_serviceId_from_unique/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

feat: Remove SignedSafeMath.sol
  contracts/src/v0.1/SignedSafeMath.sol
  contracts/src/v0.1/libraries/Median.sol
Owners: @martinkersner

feat: Add median tests
  contracts/package.json
  contracts/src/v0.1/mocks/MedianMock.sol
  contracts/test/v0.1/Median.test.cjs
  contracts/yarn.lock
Owners: @martinkersner

chore: Update import order
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: Delete math library and use Chainlink's Buffer library
  contracts/src/v0.1/libraries/Buffer.sol
  contracts/src/v0.1/libraries/Math.sol
  contracts/src/v0.1/mocks/QuickSelectMock.sol
  contracts/test/v0.1/QuickSelect.test.cjs
Owners: @martinkersner

feat: add proxyRedirect commands to aggregator deploy script
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/scripts/v0.1/types.ts
Owners: @martinkersner

fix: Ignore underflow
  contracts/src/v0.1/libraries/Median.sol
  contracts/test/v0.1/Median.test.cjs
Owners: @martinkersner

changed somethings on comment
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

Library cleanup (#537)
  contracts/package.json
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/SignedSafeMath.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/libraries/Buffer.sol
  contracts/src/v0.1/libraries/Math.sol
  contracts/src/v0.1/libraries/Median.sol
  contracts/src/v0.1/mocks/MedianMock.sol
  contracts/src/v0.1/mocks/QuickSelectMock.sol
  contracts/test/v0.1/Median.test.cjs
  contracts/test/v0.1/QuickSelect.test.cjs
  contracts/yarn.lock
Owners: @martinkersner

feat: Improve test for Median with BigNumber
  contracts/test/v0.1/Median.test.cjs
Owners: @martinkersner

check if the job ID support multiple sunmits
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

Improve test for Median with BigNumber (#539)
  contracts/test/v0.1/Median.test.cjs
Owners: @martinkersner

fix: cleanup variable names
  contracts/deploy/Aggregator/Aggregator.ts
Owners: @martinkersner

feat: Majority voting for Boolean
  contracts/src/v0.1/libraries/MajorityVoting.sol
Owners: @martinkersner

feat: validate aggregator redirecProxy config
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: Tests for boolean majority voting
  contracts/src/v0.1/libraries/MajorityVoting.sol
  contracts/src/v0.1/mocks/MajorityVotingMock.sol
  contracts/test/v0.1/MajorityVoting.test.cjs
Owners: @martinkersner

feat: Simplify voting code
  contracts/src/v0.1/libraries/MajorityVoting.sol
Owners: @martinkersner

Majority voting for Boolean (#541)
  contracts/src/v0.1/libraries/MajorityVoting.sol
  contracts/src/v0.1/mocks/MajorityVotingMock.sol
  contracts/test/v0.1/MajorityVoting.test.cjs
Owners: @martinkersner

Update core.image+upload.yaml
  .github/workflows/core.image+upload.yaml
Owners: @martinkersner

Delete yarn-error.log
  yarn-error.log
Owners: @martinkersner

Delete yarn.lock
  yarn.lock
Owners: @martinkersner

setting core concurrency (#526)
  .DS_Store
  cli/package-lock.json
  core/package.json
  core/src/reporter/utils.ts
  core/src/settings.ts
  core/yarn.lock
Owners: @martinkersner

fix: Remove irrelevant files
  .DS_Store
  cli/package-lock.json
Owners: @martinkersner

added test for bool type
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner

Remove irrelevant files (#542)
  .DS_Store
  cli/package-lock.json
Owners: @martinkersner

feat: remove reporter uniqueness from Reporter
  api/prisma/migrations/20230421082517_remove_reporter_uniqueness/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

feat: remove reporter uniqueness from Reporter (#548)
  api/prisma/migrations/20230421082517_remove_reporter_uniqueness/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

fixed rr test error, added direct fee for testing, use median + majorityVoting, modify vrf fulfill function
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

review: Part I
  contracts/hardhat.config.cjs
  contracts/test/v0.1/Median.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner

review: Part II
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

review: Part III
  contracts/hardhat.config.cjs
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner, @bayram98

review: Part IV
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @bayram98, @martinkersner

review: Part V
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

review: Part VI
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @martinkersner, @bayram98

review: Part VII
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/VRF.config.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

fix: Minor issues
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner

Review for #495 (#550)
  contracts/hardhat.config.cjs
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/Median.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRF.config.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
