Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

fix: change consumer to deployer in hardhat tasks
  contracts/hardhat.config.cjs
Owners: @martinkersner

fix: cleanup
  contracts/hardhat.config.cjs
Owners: @martinkersner

test RR, and VRF consumer on Cypress (#698)
  contracts/hardhat.config.cjs
  contracts/migration/cypress/RequestResponse/20230615152319_registerOracle.json
  contracts/migration/cypress/RequestResponse/migration.lock
  contracts/migration/cypress/VRF/20230615182342_registerOracle.json
  contracts/migration/cypress/VRF/migration.lock
Owners: @martinkersner

feat: separate Aggregator Deployment deploy and changeOracles
  contracts/deploy/Aggregator/Aggregator.cjs
Owners: @martinkersner

feat: add new reporters to Aggregator on Cypress
  contracts/migration/cypress/Aggregator/20230620155058_BNB-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_BTC-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_BUSD-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_DAI-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_DOT-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_ETH-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_KLAY-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_MATIC-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_MNR-KRW.json
  contracts/migration/cypress/Aggregator/20230620155058_SOL-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_TRX-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_USDC-USDT.json
  contracts/migration/cypress/Aggregator/migration.lock
Owners: @martinkersner

add `KF` reporter accounts to Price Feed Aggregators (#707)
  contracts/deploy/Aggregator/Aggregator.cjs
  contracts/migration/cypress/Aggregator/20230620155058_BNB-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_BTC-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_BUSD-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_DAI-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_DOT-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_ETH-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_KLAY-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_MATIC-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_MNR-KRW.json
  contracts/migration/cypress/Aggregator/20230620155058_SOL-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_TRX-USDT.json
  contracts/migration/cypress/Aggregator/20230620155058_USDC-USDT.json
  contracts/migration/cypress/Aggregator/migration.lock
Owners: @martinkersner

feat: add KF reporters to Baobab Aggregators
  contracts/migration/baobab/Aggregator/20230622164131_BNB-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_BTC-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_BUSD-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_DAI-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_DOT-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_ETH-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_KLAY-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_MATIC-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_MNR-KRW.json
  contracts/migration/baobab/Aggregator/20230622164131_SOL-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_TRX-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_USDC-USDT.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: migrate orakl-api db
  api/prisma/migrations/20230623021402_resize_pk/migration.sql
Owners: @martinkersner

fix: change import of PrismaService in error module
  api/src/error/error.module.ts
Owners: @martinkersner

migrate `orakl-api` db (#711)
  api/prisma/migrations/20230623021402_resize_pk/migration.sql
  api/src/error/error.module.ts
Owners: @martinkersner

feat: add KF reporters to Baobab Aggregators (#709)
  contracts/migration/baobab/Aggregator/20230622164131_BNB-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_BTC-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_BUSD-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_DAI-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_DOT-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_ETH-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_KLAY-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_MATIC-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_MNR-KRW.json
  contracts/migration/baobab/Aggregator/20230622164131_SOL-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_TRX-USDT.json
  contracts/migration/baobab/Aggregator/20230622164131_USDC-USDT.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

chore: Update CLI env vars
  cli/.env.example
  cli/README.md
Owners: @martinkersner

chore: Update CLI env vars (#719)
  cli/.env.example
  cli/README.md
Owners: @martinkersner

add feat web api
  monitor/package.json
  monitor/src/accounts/accounts.controller.ts
  monitor/src/app.module.ts
  monitor/src/auth/auth.controller.ts
  monitor/src/auth/auth.guard.ts
  monitor/src/auth/auth.module.ts
  monitor/src/auth/auth.service.ts
  monitor/src/bull/bulls.controller.ts
  monitor/src/bull/bulls.module.ts
  monitor/src/common/configuration.ts
  monitor/src/common/database.config.ts
  monitor/src/modules/database.module.ts
  monitor/src/monitor.config/monitor.config.controller.ts
  monitor/src/monitor.config/monitor.config.module.ts
  monitor/src/redis/redis.controller.ts
  monitor/src/redis/redis.module.ts
  monitor/src/web-api/dto/error.dto.ts
  monitor/src/web-api/orakl.service.repository.ts
  monitor/src/web-api/web.api.controller.ts
  monitor/src/web-api/web.api.module.ts
  monitor/src/web-api/web.api.service.ts
Owners: @martinkersner

add .env exampe
  monitor/.env.example
Owners: @martinkersner

add .env to do
  monitor/.env.example
Owners: @martinkersner

update ToDo
  .github/workflows/monitor.image+upload.yaml
  monitor/.env.example
Owners: @martinkersner

feat: add filter while validateTransaction
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: add timestamp to delegator-transactions table
  delegator/prisma/migrations/20230627015728_add_transactions_timestamp/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

feat: add timestamp while create new transaction
  delegator/src/sign/dto/sign.dto.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

update api query
  monitor/package.json
  monitor/src/web-api/dto/request.dto.ts
  monitor/src/web-api/orakl.service.repository.ts
  monitor/src/web-api/web.api.controller.ts
  monitor/src/web-api/web.api.service.ts
  package.json
Owners: @martinkersner

fixed wrong packages
  .DS_Store
  monitor/package.json
  package.json
Owners: @martinkersner

test: add test to check right reporterId and functionId
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

feat: make transaction timestamp required & set default value
  delegator/prisma/migrations/20230627015728_add_transactions_timestamp/migration.sql
  delegator/prisma/migrations/20230627070124_add_transactions_timestamp/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

feat: improve delegator sign test
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

add delegator transaction timestamp (#722)
  delegator/prisma/migrations/20230627070124_add_transactions_timestamp/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/dto/sign.dto.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

Update monitor.image+upload.yaml
  .github/workflows/monitor.image+upload.yaml
Owners: @martinkersner

Update web.api.service.ts
  monitor/src/web-api/web.api.service.ts
Owners: @martinkersner

Update auth.service.ts
  monitor/src/auth/auth.service.ts
Owners: @martinkersner

add feat web api monitor (#721)
  .DS_Store
  monitor/.env.example
  monitor/package.json
  monitor/src/accounts/accounts.controller.ts
  monitor/src/app.module.ts
  monitor/src/auth/auth.controller.ts
  monitor/src/auth/auth.guard.ts
  monitor/src/auth/auth.module.ts
  monitor/src/auth/auth.service.ts
  monitor/src/bull/bulls.controller.ts
  monitor/src/bull/bulls.module.ts
  monitor/src/common/configuration.ts
  monitor/src/common/database.config.ts
  monitor/src/modules/database.module.ts
  monitor/src/monitor.config/monitor.config.controller.ts
  monitor/src/monitor.config/monitor.config.module.ts
  monitor/src/redis/redis.controller.ts
  monitor/src/redis/redis.module.ts
  monitor/src/web-api/dto/error.dto.ts
  monitor/src/web-api/dto/request.dto.ts
  monitor/src/web-api/orakl.service.repository.ts
  monitor/src/web-api/web.api.controller.ts
  monitor/src/web-api/web.api.module.ts
  monitor/src/web-api/web.api.service.ts
Owners: @martinkersner

fix: change dead account to burn fee
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
Owners: @martinkersner, @KelvinThai

feat: deploy Prepayment to Cypress
  contracts/deployments/cypress/Prepayment.json
  contracts/migration/cypress/Prepayment/20230630150345_deploy.json
  contracts/migration/cypress/Prepayment/20230630160535_deploy.json
  contracts/migration/cypress/Prepayment/migration.lock
Owners: @martinkersner

feat: deploy RR to Cypress
  contracts/deployments/cypress/RequestResponseCoordinator_v0.1.json
  contracts/migration/cypress/RequestResponse/20230630150832_deploy.json
  contracts/migration/cypress/RequestResponse/20230630151225_registerOracle.json
  contracts/migration/cypress/RequestResponse/20230630160726_deploy.json
  contracts/migration/cypress/RequestResponse/20230630161049_registerOracle.json
  contracts/migration/cypress/RequestResponse/migration.lock
Owners: @martinkersner

feat: deploy VRF to Cypress
  contracts/deployments/cypress/VRFCoordinator_v0.1.json
  contracts/migration/cypress/VRF/20230630165225_deploy.json
  contracts/migration/cypress/VRF/20230630165613_registerOracle.json
  contracts/migration/cypress/VRF/migration.lock
Owners: @martinkersner

feat: increase contract package vertsion
  contracts/package.json
Owners: @martinkersner

Fix zero address (#726)
  contracts/deployments/cypress/Prepayment.json
  contracts/deployments/cypress/RequestResponseCoordinator_v0.1.json
  contracts/deployments/cypress/VRFCoordinator_v0.1.json
  contracts/migration/cypress/Prepayment/20230630150345_deploy.json
  contracts/migration/cypress/Prepayment/20230630160535_deploy.json
  contracts/migration/cypress/Prepayment/migration.lock
  contracts/migration/cypress/RequestResponse/20230630150832_deploy.json
  contracts/migration/cypress/RequestResponse/20230630151225_registerOracle.json
  contracts/migration/cypress/RequestResponse/20230630160726_deploy.json
  contracts/migration/cypress/RequestResponse/20230630161049_registerOracle.json
  contracts/migration/cypress/RequestResponse/migration.lock
  contracts/migration/cypress/VRF/20230630165225_deploy.json
  contracts/migration/cypress/VRF/20230630165613_registerOracle.json
  contracts/migration/cypress/VRF/migration.lock
  contracts/package.json
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
Owners: @martinkersner, @KelvinThai

bugfix listener healthcheckport
  core/src/listener/main.ts
Owners: @martinkersner

temporary update git
  .github/workflows/core.image+upload.yaml
  core/src/reporter/main.ts
Owners: @martinkersner

remove git action
  .github/workflows/core.image+upload.yaml
  core/src/reporter/main.ts
Owners: @martinkersner

feat: change error code type to string
  api/prisma/migrations/20230703061810_error_alter_error_code_type/migration.sql
  api/prisma/schema.prisma
  api/src/error/dto/error.dto.ts
  api/src/error/error.service.spec.ts
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
