Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

chore: More comments
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

chore: Formatting
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @Bisonai/blockchain

fix: Update operator and burn fee ratio
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner

feat: Define default temporary account properties
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

feat: Increase `reqCount` for [reqular] acc w/ VRF | RR
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Increase number of requests for temporary account as well
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

setting core concurrency
  .github/workflows/core.image+upload.yaml
  core/src/settings.ts
Owners: @martinkersner

remove push update from git action
  .github/workflows/core.image+upload.yaml
Owners: @martinkersner

add enter revert
  .github/workflows/core.image+upload.yaml
Owners: @martinkersner

remove empty spaces
  .github/workflows/core.image+upload.yaml
Owners: @martinkersner

test try for nonceManger
  .DS_Store
  .github/workflows/core.image+upload.yaml
  cli/package-lock.json
  core/package.json
  core/src/reporter/utils.ts
  core/yarn.lock
  yarn-error.log
  yarn.lock
Owners: @martinkersner

add more cuncurrency 9
  core/src/settings.ts
Owners: @martinkersner

set concurrency increased
  core/src/settings.ts
Owners: @martinkersner

feat: Allow to cancel temporary account by coordinator
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
Owners: @martinkersner, @KelvinThai

chore: Remove outdated comments
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @bayram98, @martinkersner

Separate contract for each account in Prepayment (#514)
  contracts/deploy/Prepayment/Prepayment.ts
  contracts/hardhat.config.ts
  contracts/migration/localhost/Prepayment/20230413094038_deploy.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
  contracts/scripts/v0.1/vrf/request-vrf-direct.ts
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/ITypeAndVersion.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/interfaces/PrepaymentInterface.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/Account.test.ts
  contracts/test/v0.1/Prepayment.test.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

seperated chargefeetemporary,chargefee function, caculate fee for each operators.
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Check for a validity of a `consumer` under `accId`
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

chore: Typo
  contracts/test/v0.1/Prepayment.test.ts
Owners: @martinkersner

feat: Add test for onlyOwner of VRFConsumerMock
  contracts/package.json
  contracts/test/v0.1/Prepayment.utils.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

refactor: Old VRF test + Prepayment
  contracts/test/v0.1/Prepayment.utils.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

fix: VRF set global num words
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

feat: Test for prepayment deposit and re-request of VRF
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

edited test case for fulfill int256
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponse.config.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner

feat: Update deployment script to javascript ESM
  contracts/.eslintrc
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/deploy/Prepayment/Prepayment.cjs
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/hardhat.config.cjs
  contracts/package.json
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.cjs
  contracts/test/v0.1/utils.cjs
  contracts/test/v0.1/utils.ts
  contracts/tsconfig.json
  contracts/yarn.lock
Owners: @martinkersner

feat: Convert VRF test to javascript ESM
  contracts/scripts/v0.1/admin-aggregator/update-oracles.ts
  contracts/test/v0.1/Account.test.ts
  contracts/test/v0.1/Coordinator.utils.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRF.config.cjs
  contracts/test/v0.1/VRF.config.ts
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

feat: Process VRF request inside of @bisonai/vrf
  vrf/src/index.ts
Owners: @martinkersner

feat: Basic test for `fullfillRandomWords`
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

feat: Refactor RequestResponseConsumer test
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/State.utils.cjs
Owners: @martinkersner

feat: Update state use in VRF test
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Coordinator.utils.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/QuickSelect.test.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

feat: RR mock direct payment test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: Test request random words through temporary account
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

chore: todos
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

Check for a validity of a `consumer` under `accId` (#530)
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

feat: Bump up version of @bisonai/orakl-vrf
  vrf/package.json
Owners: @martinkersner

Add missing files
  vrf/src/errors.ts
  vrf/src/types.ts
Owners: @martinkersner

Better way to test on-chain code (#531)
  contracts/.eslintrc
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/deploy/Prepayment/Prepayment.cjs
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/hardhat.config.cjs
  contracts/package.json
  contracts/scripts/v0.1/admin-aggregator/update-oracles.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.cjs
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.ts
  contracts/test/v0.1/QuickSelect.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponse.config.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRF.config.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/VRF.test.ts
  contracts/test/v0.1/utils.cjs
  contracts/test/v0.1/utils.ts
  contracts/tsconfig.json
  contracts/yarn.lock
  vrf/package.json
  vrf/src/errors.ts
  vrf/src/index.ts
  vrf/src/types.ts
Owners: @martinkersner

fix: remove serviceId from Reporters uniqueness
  api/prisma/migrations/20230419030642_reporter_remove_serviceId_from_unique/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

fix: Add missing changes
  contracts/hardhat.config.cjs
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

feat: Use @bisonai/orakl-vrf@0.2.0 for @bisonai/orakl-contracts
  contracts/package.json
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
