Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

feat: Check on data staleness to prevent submitting outdated data
  core/src/settings.ts
  core/src/types.ts
  core/src/worker/api.ts
  core/src/worker/data-feed.ts
Owners: @martinkersner

fix: Update timestamp log to be visible within pino terminal output
  core/src/worker/data-feed.ts
Owners: @martinkersner

Graceful shutdown for all services (#484)
  core/src/listener/data-feed.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf.ts
  core/src/worker/data-feed.ts
  core/src/worker/main.ts
  core/src/worker/request-response.ts
  core/src/worker/vrf.ts
Owners: @martinkersner

An easy access to oracle addresses (#473)
  contracts/.solhint.json
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/package.json
  contracts/scripts/v0.1/request-response/integration/read-data.ts
  contracts/scripts/v0.1/request-response/read-data.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
  contracts/scripts/v0.1/vrf/read-vrf.ts
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/Prepayment.test.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner, @bayram98

Check on data staleness to prevent submitting outdated data (#486)
  core/src/settings.ts
  core/src/types.ts
  core/src/worker/api.ts
  core/src/worker/data-feed.ts
Owners: @martinkersner

feat: approve transaction without function name
  delegator/prisma/migrations/20230405041706_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/dto/sign.dto.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: add optinal allowAllFunctions param to contract
  delegator/src/contract/contract.service.ts
  delegator/src/contract/dto/contract.dto.ts
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

feat: add contractConnectReporter endpoint
  delegator/src/contract/contract.controller.ts
Owners: @bayram98

fix: filter extract data from db relation
  delegator/src/contract/contract.service.ts
  delegator/src/reporter/reporter.service.ts
Owners: @bayram98

chore: fix prisma package version
  delegator/package.json
  delegator/yarn.lock
Owners: @bayram98

fix: optimize approve function
  delegator/src/contract/contract.service.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

cleanup: remove unused imports
  delegator/src/sign/sign.service.ts
Owners: @bayram98

format: fix formatting
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: resolve contract connection dto
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/dto/contract-connection.dto.ts
Owners: @bayram98

cleanup: remove duplicated connection function
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

feat: add disconnectReporter function
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.service.ts
Owners: @bayram98

implemented the abstract contract way
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponse.config.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner

feat: add contractConnect & disconnectContract endpoints
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/contract.utils.ts
  delegator/src/contract/dto/contract-connect.dto.ts
Owners: @bayram98

cleanup: remove duplicated connectRerporter function
  delegator/src/reporter/reporter.service.ts
Owners: @bayram98

feat: imrove validateTransaction function
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

format: fix formatting
  delegator/prisma/migrations/20230406012816_init/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

feat: add reporter&contract flatten functions
  delegator/src/contract/contract.service.ts
  delegator/src/contract/contract.utils.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/reporter/reporter.utils.ts
Owners: @bayram98

fix: remove allowAllFunctions
  delegator/prisma/migrations/20230406032022_remove_allow_all_function/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/contract.utils.ts
  delegator/src/contract/dto/contract.dto.ts
Owners: @bayram98

feat: add logger
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: modify test
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

fix: prisma relation query
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: remove console log
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: add non unique check of the query
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

fix: naming of variables in validateTransaction
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

test: add more test for validateTransaction failure cases
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

test: imrove test
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

fix delegator prisma structure (#475)
  delegator/package.json
  delegator/prisma/migrations/20230330073945_init/migration.sql
  delegator/prisma/migrations/20230406012816_init/migration.sql
  delegator/prisma/migrations/20230406032022_remove_allow_all_function/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/contract.utils.ts
  delegator/src/contract/dto/contract-connect.dto.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/reporter/reporter.utils.ts
  delegator/src/sign/dto/sign.dto.ts
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
  delegator/yarn.lock
Owners: @bayram98

added accType variable for Account struct and AccountCreated event
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

test version info
  .github/workflows/api.image+upload.yaml
  api/package.json
Owners: @martinkersner

fixed tag image scripts
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

fixed tag image scripts
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

test again fixed git version info
  api/package.json
Owners: @martinkersner

test image tag with version
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

chore git actions
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

Update api.image+upload.yaml
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner
