Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

feat: `currentRoundStartedAt` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `validateOracleRound` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Previous round not supersedable test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: add new deployment files
  contracts/deployments/baobab/Aggregator_BNB-USDT_20230502160553.json
  contracts/deployments/baobab/Aggregator_BTC-USDT_20230502160561.json
  contracts/deployments/baobab/Aggregator_BUSD-USDT_20230502160572.json
  contracts/deployments/baobab/Aggregator_DAI-USDT_20230502160579.json
  contracts/deployments/baobab/Aggregator_DOT-USDT_20230503100543.json
  contracts/deployments/baobab/Aggregator_ETH-USDT_20230502160571.json
  contracts/deployments/baobab/Aggregator_KLAY-USDT_20230503100515.json
  contracts/deployments/baobab/Aggregator_MATIC-USDT_20230503100525.json
  contracts/deployments/baobab/Aggregator_SOL-USDT_20230503100583.json
  contracts/deployments/baobab/Aggregator_TRX-USDT_20230430100591.json
  contracts/deployments/baobab/Aggregator_USDC-USDT_20230503100591.json
Owners: @martinkersner

feat: deploy migration files
  contracts/migration/baobab/Aggregator/20230502155306_BNB-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160718_BTC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160726_BUSD-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160733_DAI-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160741_DOT-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160749_ETH-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160755_KLAY-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160803_MATIC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160814_SOL-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160835_USDC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: add proxy redirection options to deployment
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/package.json
  contracts/scripts/v0.1/utils.ts
  contracts/yarn.lock
Owners: @martinkersner

Aggregator related updates (#593)
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Aggregator.utils.cjs
Owners: @martinkersner

feat: Remove state and prepare RR for more tests
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/State.utils.cjs
Owners: @martinkersner

feat: Update `gasAfterPaymentCalculation` for VRF
  contracts/test/v0.1/VRFCoordinator.config.cjs
Owners: @martinkersner

feat: RequestResponseCoordinator `TooManyOracles`
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `PendingRequestExists` test
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

feat: RR `InsufficientPayment` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: Add `nonReentrant` to RequestResponse request function
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: RR `InvalidConsumer` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `GasLimitTooBig` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `UnregisteredOracleFulfillment` tets
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `OracleAlreadySubmitted` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `NoCorrespondingRequest` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: RR `IncorrectCommitment` test
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: `pendingRequestExists` test with no pending
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

chore: Remove outdated comment
  contracts/src/v0.1/CoordinatorBase.sol
Owners: @martinkersner

feat: `validateNumSubmission` fix + test
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

chore: Unify signers
  contracts/hardhat.config.cjs
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorBaseMock.test.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner

fix: Define deployer from account0
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/VRFInternal.test.cjs
Owners: @martinkersner

feat: Update deploy scripts according to contract changes
  contracts/deploy/Aggregator/Aggregator.cjs
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.cjs
  contracts/hardhat.config.cjs
  contracts/migration/localhost/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/localhost/RequestResponse/20230321121337_init.json
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

chore: Prepayment update comments
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

chore: Comments for `validateNumSubmission`, follow sol. style guide
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
Owners: @bayram98, @Bisonai/blockchain

chore: Move VRF `RequestCommitment` to interface definition
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
Owners: @martinkersner, @Bisonai/blockchain

chore: Fix comment in Prepayment interface
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @Bisonai/blockchain

chore: Add VRFCoordinator main comment
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

chore: Add RR main comment
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @bayram98, @martinkersner

Audit preparation (#599)
  contracts/deploy/Aggregator/Aggregator.cjs
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.cjs
  contracts/hardhat.config.cjs
  contracts/migration/localhost/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/localhost/RequestResponse/20230321121337_init.json
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/scripts/v0.1/utils.cjs
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorBaseMock.test.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/VRFCoordinator.config.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFInternal.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: redirect BTC-USDT Aggregator proxy
  contracts/migration/baobab/Aggregator/20230504150502_BTC-USDT-proxyRedirect-confirm.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: add moment dependency
  contracts/package.json
  contracts/yarn.lock
Owners: @martinkersner

feat: make default aggregator function to Median
  fetcher/src/job/job.aggregator.ts
Owners: @martinkersner

feat: resolve all deployment and migration files
  contracts/deployments/baobab/Aggregator_BNB-USDT_20230502160553.json
  contracts/deployments/baobab/Aggregator_BTC-USDT_20230502160561.json
  contracts/deployments/baobab/Aggregator_BUSD-USDT_20230502160572.json
  contracts/deployments/baobab/Aggregator_DAI-USDT_20230502160579.json
  contracts/deployments/baobab/Aggregator_DOT-USDT_20230503100543.json
  contracts/deployments/baobab/Aggregator_ETH-USDT_20230502160571.json
  contracts/deployments/baobab/Aggregator_KLAY-USDT_20230503100515.json
  contracts/deployments/baobab/Aggregator_MATIC-USDT_20230503100525.json
  contracts/deployments/baobab/Aggregator_SOL-USDT_20230503100583.json
  contracts/deployments/baobab/Aggregator_TRX-USDT_20230430100591.json
  contracts/deployments/baobab/Aggregator_USDC-USDT_20230503100591.json
  contracts/migration/baobab/Aggregator/20230421162903_TRX-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230427140556_TRX-USDT-proxyRedirect-confirm.json
  contracts/migration/baobab/Aggregator/20230502155306_BNB-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160718_BTC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160726_BUSD-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160733_DAI-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160741_DOT-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160749_ETH-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160755_KLAY-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160803_MATIC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160814_SOL-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160835_USDC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230504150502_BTC-USDT-proxyRedirect-confirm.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: fix Aggregator deployment conflict
  contracts/deploy/Aggregator/Aggregator.cjs
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

fix: cleanup Aggregatir.cjs
  contracts/deploy/Aggregator/Aggregator.cjs
Owners: @martinkersner

feat: add proxyRedirect example configuration
  contracts/migration/localhost/Aggregator/20230417164547_ADA-USDT.json
  contracts/migration/localhost/Aggregator/20230420150645_ADA-USDT-proxyRedirect-revert.json
  contracts/migration/localhost/Aggregator/20230420154447_ADA-USDT-proxyRedirect-deploy.json
  contracts/migration/localhost/Aggregator/20230420155810_ADA-USDT-proxyRedirect-confirm.json
  contracts/migration/localhost/Aggregator/migration.lock
Owners: @martinkersner

feat: remove outdated config params
  contracts/migration/localhost/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/localhost/Aggregator/20230417164547_ADA-USDT.json
  contracts/migration/localhost/Aggregator/20230420154447_ADA-USDT-proxyRedirect-deploy.json
Owners: @martinkersner
