Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

Add 3 mapping variables to store submission infor (#524)
  contracts/hardhat.config.cjs
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/Median.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRF.config.cjs
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/utils.cjs
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Auxiliary function to check validity of request ID
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: Cleanup storage in RR after fulfillment
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: VRF cancel request test
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/VRF.test.cjs
Owners: @martinkersner

feat: Cancel request in VRF
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
Owners: @martinkersner, @Bisonai/blockchain

fix: Resolve rebase
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

feat: Cancel data request
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

feat: Delete `sRequestOwner` during cleanup
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

chore: cancelled -> canceled
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @bayram98, @martinkersner

chore: Comment update
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
Owners: @Bisonai/blockchain

chore: cleanup
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

Cancel request (#549)
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/VRF.test.cjs
Owners: @bayram98, @martinkersner, @Bisonai/blockchain

chore: Ignore coverage related files
  contracts/.gitignore
Owners: @martinkersner

chore: Aggregator* interface cleanup
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/AggregatorProxy.sol
  contracts/src/v0.1/interfaces/AggregatorInterface.sol
  contracts/src/v0.1/interfaces/AggregatorProxyInterface.sol
  contracts/src/v0.1/interfaces/AggregatorValidatorInterface.sol
  contracts/src/v0.1/interfaces/FlagsInterface.sol
  contracts/src/v0.1/interfaces/IAggregator.sol
  contracts/src/v0.1/interfaces/IAggregatorProxy.sol
  contracts/src/v0.1/interfaces/OwnableInterface.sol
  contracts/src/v0.1/mocks/DataFeedConsumerMock.sol
Owners: @martinkersner, @Bisonai/blockchain

chore: Refactor old aggregator test
  contracts/hardhat.config.cjs
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

test: Read from DataFeedConsumerMock
  contracts/src/v0.1/mocks/DataFeedConsumerMock.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

test: Read decimals from DataFeedConsumerMock
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

fix: Remove `s_` in AggregatorProxy
  contracts/src/v0.1/AggregatorProxy.sol
Owners: @martinkersner

fix: Remove some of solhint warnings
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @KelvinThai, @bayram98

feat: Propose & Confirm Aggregator Test
  contracts/src/v0.1/AggregatorProxy.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Read values from proposed aggregator
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test data from proxy specified by roundID
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test read the latest round data from aggregator with `roundId`
  contracts/src/v0.1/mocks/DataFeedConsumerMock.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test for aggregator proxy `phaseId`
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test for `phaseAggregators`
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test read configuration of Aggregator & AggregatorProxy
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

fix: Add missing interface
  contracts/src/v0.1/interfaces/IAggregatorValidator.sol
Owners: @Bisonai/blockchain

fix: Add missing aggregator configuration
  contracts/test/v0.1/Aggregator.config.cjs
Owners: @martinkersner

feat: Test remove oracle
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: set `validateDataResponse` as `view` function
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: Test for addding oracle assetions
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Remove rewards and admins from Aggregator
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test `oracleRoundState`
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test external requester
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.config.cjs
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Test `OracleNotEnabled`
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

`Aggregator` & `AggregatorProxy` on-chain test (#552)
  contracts/.gitignore
  contracts/hardhat.config.cjs
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/AggregatorProxy.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/AggregatorInterface.sol
  contracts/src/v0.1/interfaces/AggregatorProxyInterface.sol
  contracts/src/v0.1/interfaces/FlagsInterface.sol
  contracts/src/v0.1/interfaces/IAggregator.sol
  contracts/src/v0.1/interfaces/IAggregatorProxy.sol
  contracts/src/v0.1/interfaces/IAggregatorValidator.sol
  contracts/src/v0.1/interfaces/OwnableInterface.sol
  contracts/src/v0.1/mocks/DataFeedConsumerMock.sol
  contracts/test/v0.1/Aggregator.config.cjs
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Tests for Elliptic Curve from witnet
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/data/P192.json
  contracts/test/v0.1/data/P224.json
  contracts/test/v0.1/data/P256-aux.json
  contracts/test/v0.1/data/P256.json
  contracts/test/v0.1/data/secp192k1.json
  contracts/test/v0.1/data/secp224k1.json
  contracts/test/v0.1/data/secp256k1-aux.json
  contracts/test/v0.1/data/secp256k1.json
Owners: @martinkersner

feat: Remove EcFastMul library
  contracts/src/v0.1/libraries/ecc/FastEcMul.sol
  contracts/src/v0.1/libraries/ecc/helpers/TestEllipticCurve.sol
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/data/P192.json
  contracts/test/v0.1/data/P224.json
  contracts/test/v0.1/data/P256.json
  contracts/test/v0.1/data/secp192k1.json
  contracts/test/v0.1/data/secp224k1.json
  contracts/test/v0.1/data/secp256k1.json
Owners: @martinkersner

fix: Add missing `EC.utils.cjs`
  contracts/test/v0.1/EC.utils.cjs
Owners: @martinkersner

fix: Increase timeout for testing contracts from 3 to 10
  .github/workflows/contracts.test.yaml
  contracts/src/v0.1/libraries/ecc/EllipticCurve.sol
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
