Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

feat: remove old baobab Aggregator migration files
  contracts/migration/baobab/Aggregator/20230325094038_BNB-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_BTC-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_BUSD-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_DAI-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_DOT-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_KLAY-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_MATIC-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_SOL-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_TRX-USDT.json
  contracts/migration/baobab/Aggregator/20230325094038_USDC-USDT.json
  contracts/migration/baobab/Aggregator/20230421162903_TRX-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230427140556_TRX-USDT-proxyRedirect-confirm.json
  contracts/migration/baobab/Aggregator/20230502155306_BNB-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160718_BTC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160726_BUSD-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160733_DAI-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160741_DOT-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160749_ETH-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160755_KLAY-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160803_MATIC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160814_SOL-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/20230502160835_USDC-USDT-proxyRedirect-deploy.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: remove old Aggregator deployment files
  contracts/deployments/baobab/Aggregator.json
  contracts/deployments/baobab/AggregatorProxy.json
  contracts/deployments/baobab/AggregatorProxy_BNB-USDT.json
  contracts/deployments/baobab/AggregatorProxy_BTC-USDT.json
  contracts/deployments/baobab/AggregatorProxy_BUSD-USDT.json
  contracts/deployments/baobab/AggregatorProxy_DAI-USDT.json
  contracts/deployments/baobab/AggregatorProxy_DOT-USDT.json
  contracts/deployments/baobab/AggregatorProxy_ETH-USDT.json
  contracts/deployments/baobab/AggregatorProxy_KLAY-USDT.json
  contracts/deployments/baobab/AggregatorProxy_MATIC-USDT.json
  contracts/deployments/baobab/AggregatorProxy_SOL-USDT.json
  contracts/deployments/baobab/AggregatorProxy_TRX-USDT.json
  contracts/deployments/baobab/AggregatorProxy_USDC-USDT.json
  contracts/deployments/baobab/Aggregator_BNB-USDT.json
  contracts/deployments/baobab/Aggregator_BNB-USDT_20230502160553.json
  contracts/deployments/baobab/Aggregator_BTC-USDT.json
  contracts/deployments/baobab/Aggregator_BTC-USDT_20230502160561.json
  contracts/deployments/baobab/Aggregator_BUSD-USDT.json
  contracts/deployments/baobab/Aggregator_BUSD-USDT_20230502160572.json
  contracts/deployments/baobab/Aggregator_DAI-USDT.json
  contracts/deployments/baobab/Aggregator_DAI-USDT_20230502160579.json
  contracts/deployments/baobab/Aggregator_DOT-USDT.json
  contracts/deployments/baobab/Aggregator_DOT-USDT_20230503100543.json
  contracts/deployments/baobab/Aggregator_ETH-USDT.json
  contracts/deployments/baobab/Aggregator_ETH-USDT_20230502160571.json
  contracts/deployments/baobab/Aggregator_KLAY-USDT.json
  contracts/deployments/baobab/Aggregator_KLAY-USDT_20230503100515.json
  contracts/deployments/baobab/Aggregator_MATIC-USDT.json
  contracts/deployments/baobab/Aggregator_MATIC-USDT_20230503100525.json
  contracts/deployments/baobab/Aggregator_SOL-USDT.json
  contracts/deployments/baobab/Aggregator_SOL-USDT_20230503100583.json
  contracts/deployments/baobab/Aggregator_TRX-USDT.json
  contracts/deployments/baobab/Aggregator_TRX-USDT_20230430100591.json
  contracts/deployments/baobab/Aggregator_USDC-USDT.json
  contracts/deployments/baobab/Aggregator_USDC-USDT_20230503100591.json
Owners: @martinkersner

clean-up: remove old proxyRedirect migration file
  contracts/migration/baobab/Aggregator/20230504150502_BTC-USDT-proxyRedirect-confirm.json
Owners: @martinkersner

feat: User `currentRoundStartedAt` instead of 2x `oracleRoundState`
  core/src/worker/data-feed.utils.ts
Owners: @martinkersner

feat: Integrate the computation of round delay until the next round
  core/src/worker/data-feed.utils.ts
  core/src/worker/state.ts
Owners: @martinkersner

Use `currentRoundStartedAt` instead of 2x `oracleRoundState` (#657)
  core/src/worker/data-feed.utils.ts
  core/src/worker/state.ts
Owners: @martinkersner

feat: add app.enableCors for api, fetcher, delegator
  api/src/app.settings.ts
  delegator/src/app.settings.ts
  fetcher/src/app.settings.ts
Owners: @martinkersner, @bayram98

fix: Monitor table queue sort
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
Owners: @martinkersner

refactor: Detail Table component
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
Owners: @martinkersner

fix: Nav dropdown component
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/NavigationDropdown/styled.ts
Owners: @martinkersner

add: Mui icon pkg
  admin/package.json
  admin/yarn.lock
Owners: @martinkersner

feat: Add Scroll top button
  admin/src/app/layout.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/ScrollButton/index.tsx
  admin/src/components/Common/ScrollButton/styled.ts
Owners: @martinkersner

fix: Button layout
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Common/ScrollButton/styled.ts
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
Owners: @martinkersner

feat: fix delegator function name uniqness
  delegator/README.md
  delegator/prisma/migrations/20230607023009_delegator_fix_function_name_uniquness/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

fix: disconnect from prisma after test finished
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

fixed git github actions
  .github/workflows/api.test+build.yaml
Owners: @martinkersner

fix unique constrains on delegator (#667)
  delegator/README.md
  delegator/prisma/migrations/20230607023009_delegator_fix_function_name_uniquness/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.spec.ts
Owners: @bayram98

fix: revert Corp permission for delegator&fetcher
  delegator/src/app.settings.ts
  fetcher/src/app.settings.ts
Owners: @bayram98, @martinkersner

Enable CORS for `api` (#659)
  .github/workflows/api.test+build.yaml
  api/src/app.settings.ts
Owners: @martinkersner

feat: Fallback for data feed reporter when delegator fails
  core/src/errors.ts
  core/src/reporter/reporter.ts
  core/src/reporter/utils.ts
Owners: @martinkersner

feat: make lowercase reporter, contract and sign addresses
  delegator/src/contract/contract.service.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: make lowercase reporter, contract and sign addresses (#670)
  delegator/src/contract/contract.service.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: bump-up contract version from 0.6.0 to 1.0.0
  contracts/package.json
Owners: @martinkersner

feat: bump-up contract version from 0.6.0 to 1.0.0 (#672)
  contracts/package.json
Owners: @martinkersner

feat: increase orakl-contract package version to 1.0.0
  core/package.json
  core/yarn.lock
Owners: @martinkersner

feat: deploy Prepayment to baobab
  contracts/deployments/baobab/Prepayment.json
  contracts/migration/baobab/Prepayment/20230608135030_deploy.json
  contracts/migration/baobab/Prepayment/migration.lock
Owners: @martinkersner

feat: deploy RR & VRF to baobab
  contracts/deployments/baobab/RequestResponseCoordinator_1.0.0.json
  contracts/deployments/baobab/VRFCoordinator_1.0.0.json
  contracts/migration/baobab/RequestResponse/20230608143850_deploy.json
  contracts/migration/baobab/RequestResponse/migration.lock
  contracts/migration/baobab/VRF/20230608143850_deploy.json
  contracts/migration/baobab/VRF/migration.lock
Owners: @martinkersner

feat: add boabab deployments
  contracts/package.json
Owners: @martinkersner

feat: deploy VRF contract
  contracts/deployments/baobab/VRFCoordinator_1.0.0.json
Owners: @martinkersner

cleanup: old VRFCoordinator and RequestResponseCoordinator
  contracts/deployments/baobab/RequestResponseCoordinator.json
  contracts/deployments/baobab/VRFCoordinator.json
Owners: @martinkersner

cleanup: remove unused functions
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.cjs
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

fix: modify contract versions
  contracts/deployments/baobab/RequestResponseCoordinator_v0.1.json
  contracts/deployments/baobab/VRFCoordinator_v0.1.json
  contracts/migration/baobab/RequestResponse/20230608143850_deploy.json
  contracts/migration/baobab/VRF/20230608143850_deploy.json
Owners: @martinkersner

deploy audited `Prepayment`, `RR` and `VRF` contracts on Baobab (#675)
  contracts/deploy/RequestResponse/RequestResponseCoordinator.cjs
  contracts/deploy/VRF/VRFCoordinator.cjs
  contracts/deployments/baobab/Prepayment.json
  contracts/deployments/baobab/RequestResponseCoordinator.json
  contracts/deployments/baobab/RequestResponseCoordinator_v0.1.json
  contracts/deployments/baobab/VRFCoordinator.json
  contracts/deployments/baobab/VRFCoordinator_v0.1.json
  contracts/migration/baobab/Prepayment/20230608135030_deploy.json
  contracts/migration/baobab/Prepayment/migration.lock
  contracts/migration/baobab/RequestResponse/20230608143850_deploy.json
  contracts/migration/baobab/RequestResponse/migration.lock
  contracts/migration/baobab/VRF/20230608143850_deploy.json
  contracts/migration/baobab/VRF/migration.lock
  contracts/package.json
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

fix: update rc interface function parameters
  core/src/types.ts
  core/src/worker/request-response.utils.ts
Owners: @martinkersner

increase `orakl-contract` package version to 1.0.0 (#674)
  core/package.json
  core/src/types.ts
  core/src/worker/request-response.utils.ts
  core/yarn.lock
Owners: @martinkersner

feat: Don't use delegated fee for VRF
  core/src/reporter/vrf.ts
Owners: @martinkersner

fix: Increase string length for VRF public key
  api/prisma/schema.prisma
Owners: @martinkersner

feat: Lower Request-Response Baobab fees by 10x
  contracts/README.md
  contracts/migration/baobab/RequestResponse/20230608222131_lower_fees.json
  contracts/migration/baobab/RequestResponse/migration.lock
Owners: @martinkersner

feat: Lower VRF Baobab fees by 10x
  contracts/migration/baobab/VRF/20230608222131_lower_fees.json
  contracts/migration/baobab/VRF/migration.lock
Owners: @martinkersner

Misc updates after audit (#676)
  api/prisma/schema.prisma
  contracts/README.md
  contracts/migration/baobab/RequestResponse/20230608222131_lower_fees.json
  contracts/migration/baobab/RequestResponse/migration.lock
  contracts/migration/baobab/VRF/20230608222131_lower_fees.json
  contracts/migration/baobab/VRF/migration.lock
  core/src/reporter/vrf.ts
Owners: @martinkersner
