Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

fixed git action for test
  .github/workflows/admin.image+upload.yaml
Owners: @martinkersner

fix: Tab link
  admin/src/app/layout.tsx
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
Owners: @martinkersner

fix: Page layout
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/components/Template/BullMonitor/main.tsx
Owners: @martinkersner

fix: Stacktrace display method
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
Owners: @martinkersner

removed unused 'hookConsoleError', using 'FETCHER_QUEUE_NAME, DEVIATION_QUEUE_NAME ' from setting, using 'shouldReport' function, added timestamp, submission variable in deviation queue
  core/src/worker/data-feed.ts
  core/src/worker/types.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.module.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
Owners: @martinkersner

chore: Clean code
  admin/src/components/Template/BullMonitor/detail.tsx
Owners: @martinkersner

Feat connect info data (#643)
  admin/src/app/layout.tsx
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Template/BullMonitor/AggregatorTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
  admin/src/components/Template/BullMonitor/RequestResponseTable/index.tsx
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/BullMonitor/VrfTable/index.tsx
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/components/Template/BullMonitor/main.tsx
  admin/src/utils/api.ts
  admin/src/utils/types.ts
  admin/yarn.lock
Owners: @martinkersner

add git action TEST (#642)
  .github/workflows/admin.image+upload.yaml
  admin/.env.example
  admin/Dockerfile
Owners: @martinkersner

feat: Check jobId of fulfill function with jobId in rc
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: Test of incompatible jobId during fulfillment with wrong function
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

generate jobid from each fulfillDataRequest* function and use it for validateDataResponse function
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

Reflect audit finding 2 (#645)
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

using decimals from adapter instead of 8 number
  fetcher/src/job/job.processor.ts
Owners: @martinkersner

added queue and worker for deviation (#636)
  core/src/settings.ts
  core/src/worker/data-feed.ts
  core/src/worker/types.ts
  fetcher/src/app.settings.ts
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.module.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
  fetcher/src/settings.ts
Owners: @martinkersner

Connect Reporter with Orakl Network Delegator (#633)
  cli/README.md
  cli/src/delegator.ts
  core/.env.example
  core/src/errors.ts
  core/src/reporter/data-feed.ts
  core/src/reporter/factory.ts
  core/src/reporter/reporter.ts
  core/src/reporter/request-response.ts
  core/src/reporter/state.ts
  core/src/reporter/utils.ts
  core/src/reporter/vrf.ts
  core/src/settings.ts
  core/src/types.ts
  core/test/reporter.test.ts
  delegator/README.md
  delegator/prisma/migrations/20230406032022_remove_allow_all_function/migration.sql
  delegator/prisma/migrations/20230524075953_init/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.ts
Owners: @martinkersner, @bayram98

feat: setup error table on orakl db
  api/prisma/migrations/20230530062226_error_setup/migration.sql
  api/prisma/schema.prisma
Owners: @martinkersner

feat: make error creat and find endpints
  api/README.md
  api/src/app.module.ts
  api/src/error/dto/error.dto.ts
  api/src/error/error.controller.ts
  api/src/error/error.module.ts
  api/src/error/error.service.spec.ts
  api/src/error/error.service.ts
Owners: @martinkersner

feat: add test for error endpoints
  api/src/error/error.service.spec.ts
Owners: @martinkersner

fix: type of timestamp to Date
  api/prisma/migrations/20230531014353_error_init/migration.sql
  api/prisma/schema.prisma
  api/src/error/dto/error.dto.ts
  api/src/error/error.service.spec.ts
Owners: @martinkersner

fix: remove default password variable
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

feat: store errorMsg on db
  core/src/errors.ts
  core/src/types.ts
  core/src/worker/api.ts
  core/src/worker/request-response.ts
Owners: @martinkersner

fix: clean up
  api/src/error/error.service.spec.ts
  api/src/error/error.service.ts
  api/src/reporter/reporter.utils.ts
  core/src/worker/api.ts
  core/src/worker/request-response.ts
Owners: @martinkersner

feat: Allow withdrawal from temporary account with no pending reqs.
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @KelvinThai, @Bisonai/blockchain

feat: Specify owner of tmp account & dst account for withdrawal
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

feat: Test to withdraw $KLAY after canceling request from tmp acc
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: extract error massages separately
  api/prisma/migrations/20230601065121_error_init/migration.sql
  api/prisma/schema.prisma
  api/src/error/dto/error.dto.ts
  api/src/error/error.service.spec.ts
  api/src/error/error.service.ts
  core/src/types.ts
  core/src/worker/request-response.ts
Owners: @martinkersner

fix: improve commet by adding explanation to the storeErrorMsg funct
  core/src/worker/api.ts
Owners: @martinkersner

add: Endpoint
  admin/src/utils/api.ts
Owners: @martinkersner

add: Route and types
  admin/src/utils/route.ts
  admin/src/utils/types.ts
Owners: @martinkersner

feat: Add dimmed popup provider
  admin/src/components/Common/DimmedPopup/index.tsx
  admin/src/components/Common/DimmedPopup/styled.ts
  admin/src/components/Common/DimmedPopupProvider/index.tsx
  admin/src/hook/useDimmedPopupContext.ts
Owners: @martinkersner

feat: Add Configuration components and settind route
  admin/src/app/configuration/[configType]/page.tsx
  admin/src/app/configuration/layout.tsx
  admin/src/app/configuration/page.tsx
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Template/Configuration/Chain/index.tsx
  admin/src/components/Template/Configuration/Chain/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/styled.ts
  admin/src/components/Template/Configuration/Service/index.tsx
  admin/src/components/Template/Configuration/detail.tsx
  admin/src/components/Template/Configuration/index.tsx
Owners: @martinkersner

fix: Comment update
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @Bisonai/blockchain

Allow to withdraw $KLAY from temporary account (#653)
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

Feat configuration related component (#654)
  admin/src/app/configuration/[configType]/page.tsx
  admin/src/app/configuration/layout.tsx
  admin/src/app/configuration/page.tsx
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/DimmedPopup/index.tsx
  admin/src/components/Common/DimmedPopup/styled.ts
  admin/src/components/Common/DimmedPopupProvider/index.tsx
  admin/src/components/Common/NavigationDropdown/index.tsx
  admin/src/components/Template/Configuration/Chain/index.tsx
  admin/src/components/Template/Configuration/Chain/styled.ts
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/index.tsx
  admin/src/components/Template/Configuration/ConfigurationTable/TwoColumnTable/styled.ts
  admin/src/components/Template/Configuration/Service/index.tsx
  admin/src/components/Template/Configuration/detail.tsx
  admin/src/components/Template/Configuration/index.tsx
  admin/src/hook/useDimmedPopupContext.ts
  admin/src/utils/api.ts
  admin/src/utils/route.ts
  admin/src/utils/types.ts
Owners: @martinkersner

fix: resolve conflict
  core/src/worker/api.ts
Owners: @martinkersner

feat: add deployment files of the new Aggregator
  contracts/deployments/baobab/AggregatorProxy_BNB-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_BTC-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_BUSD-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_DAI-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_DOT-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_ETH-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_KLAY-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_MATIC-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_MNR-KRW_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_SOL-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_TRX-USDT_20230602160636.json
  contracts/deployments/baobab/AggregatorProxy_USDC-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_BNB-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_BTC-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_BUSD-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_DAI-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_DOT-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_ETH-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_KLAY-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_MATIC-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_MNR-KRW_20230602160636.json
  contracts/deployments/baobab/Aggregator_SOL-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_TRX-USDT_20230602160636.json
  contracts/deployments/baobab/Aggregator_USDC-USDT_20230602160636.json
Owners: @martinkersner

feat: add baobab deploy migration files
  contracts/migration/baobab/Aggregator/20230602160693_BNB-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_BTC-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_BUSD-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_DAI-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_DOT-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_ETH-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_KLAY-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_MATIC-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_MNR-KRW.json
  contracts/migration/baobab/Aggregator/20230602160693_SOL-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_TRX-USDT.json
  contracts/migration/baobab/Aggregator/20230602160693_USDC-USDT.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

feat: improve aggregator deployment script
  contracts/deploy/Aggregator/Aggregator.cjs
Owners: @martinkersner

feat: add aggregator deployment file generator script
  contracts/scripts/v0.1/admin-aggregator/generate-aggregator-deployments.cjs
  contracts/scripts/v0.1/utils.cjs
Owners: @martinkersner

cleanup: remove comments
  contracts/scripts/v0.1/admin-aggregator/generate-aggregator-deployments.cjs
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
