Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

State item not found (#468)
  core/src/errors.ts
  core/src/listener/state.ts
  core/src/reporter/state.ts
  core/src/worker/state.ts
Owners: @martinkersner

feat: Bidirectional mapping between oracles and proving keys in VRF
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

chore: Update the package.json
  contracts/package.json
Owners: @martinkersner

chore: Remove `s_` in `VRFCoordinator`
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

chore: `sRequestCommitments` -> `sRequestIdToCommitment`
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

chore: update prisma version
  delegator/package.json
  delegator/yarn.lock
Owners: @bayram98

fix: Tests
  contracts/test/v0.1/Prepayment.test.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

fix: Remove `s_` prefixes in `VRFConsumerMock`
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
Owners: @martinkersner

fixed some issues on pr comment: create mapping for jobId, remove code comment(requestResponseCoordinaotr.test)
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner

feat: Check whether public proving key already registered
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: Registration tests
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

feat: VRF deregistration tests
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

chore: Reorganize `VRFCoordinator` based on Solidity style guide
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: External access to mappings `oracleToKeyHash` and `keyHashToOracle`
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

fix: Remove `s_` prefix from `RequestResponseCoordinator`
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: modify prisma schema
  delegator/prisma/migrations/20230403041355_init/migration.sql
  delegator/prisma/migrations/20230404061305_init/migration.sql
  delegator/prisma/schema.prisma
Owners: @bayram98

feat: Unify oracle registration process for RR with VRF
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: connectContractToReporter
  delegator/src/contract/contract.service.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: Add `RequestResponseCoordinator` registration test
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
Owners: @martinkersner

fix: Testing the output of wrong variables
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

feat: RR deregister test
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
Owners: @martinkersner

chore: Unify `sRequestCommitments` -> `sRequestIdToCommitment`
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

fix: Gas savings
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: Reorder `RequestResponseCoordinator` fns based on visibility
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

feat: Fix `RequestResponseCoordinator` solhint warnings
  contracts/.solhint.json
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @martinkersner, @bayram98

fix: Remove `VRFCoordinator` solhint warnings
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: extract data from relation on find()
  delegator/src/contract/contract.service.ts
  delegator/src/reporter/reporter.service.ts
Owners: @bayram98

feat: Test on uniqueness of oracle address and public proving keys
  contracts/test/v0.1/RequestResponseCoordinator.test.ts
  contracts/test/v0.1/VRF.test.ts
Owners: @martinkersner

feat: Test for keyhash-oracle relation during VRF deregistration
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: VRF update register and deregister migration script
  contracts/deploy/VRF/VRFCoordinator.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

fix: Update comment in VRF migration
  contracts/deploy/VRF/VRFCoordinator.ts
Owners: @martinkersner

feat: Update scripts to avoid using `s_` prefix
  contracts/scripts/v0.1/request-response/integration/read-data.ts
  contracts/scripts/v0.1/request-response/read-data.ts
  contracts/scripts/v0.1/vrf/read-vrf.ts
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @martinkersner

chore: Bump up @bisonai/orakl-contracts version to 0.5.0
  contracts/package.json
Owners: @martinkersner

fix: Avoid using `s_` prefix in RR tests
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @martinkersner

chore: Remove all docs from git
  README.md
  docs/README.md
  docs/v0.1-internal/README.md
  docs/v0.1-internal/data-feed.md
Owners: @martinkersner

Remove all docs from git (#479)
  README.md
  docs/README.md
  docs/v0.1-internal/README.md
  docs/v0.1-internal/data-feed.md
Owners: @martinkersner

feat: Graceful shutdown for RR listener
  core/src/listener/request-response.ts
Owners: @martinkersner

fix: Move info log to main listener
  core/src/listener/data-feed.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
Owners: @martinkersner

feat: Graceful shutdown for VRF listener
  core/src/listener/data-feed.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf.ts
Owners: @martinkersner

feat: Graceful shutdown for VRF & RR workers
  core/src/worker/data-feed.ts
  core/src/worker/main.ts
  core/src/worker/request-response.ts
  core/src/worker/vrf.ts
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
