Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

chore: Rename EC related files
  contracts/test/v0.1/EC-test-data/P192.json
  contracts/test/v0.1/EC-test-data/P224.json
  contracts/test/v0.1/EC-test-data/P256-aux.json
  contracts/test/v0.1/EC-test-data/P256.json
  contracts/test/v0.1/EC-test-data/secp192k1.json
  contracts/test/v0.1/EC-test-data/secp224k1.json
  contracts/test/v0.1/EC-test-data/secp256k1-aux.json
  contracts/test/v0.1/EC-test-data/secp256k1.json
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/EllipticCurve.utils.cjs
Owners: @martinkersner

fix: add explanation logs
  contracts/deploy/Aggregator/Aggregator.ts
Owners: @martinkersner

feat: VRF internal tests
  contracts/test/v0.1/VRF-test-data/data.json
  contracts/test/v0.1/VRFInternal.test.cjs
Owners: @martinkersner

feat: Test VRF
  contracts/src/v0.1/test/TestHelperVRF.sol
  contracts/src/v0.1/test/TestHelperVRFInternals.sol
  contracts/test/v0.1/VRF-test-data/data.json
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/VRFCoordinator.config.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: get Proxy Contract from proxy address
  contracts/deploy/Aggregator/Aggregator.ts
  contracts/scripts/v0.1/types.ts
  contracts/scripts/v0.1/utils.ts
Owners: @martinkersner

feat: deploy new TRX-USDT aggregator on baobab
  contracts/deployments/baobab/Aggregator_TRX-USDT_1682299989368.json
  contracts/migration/baobab/Aggregator/migration.lock
Owners: @martinkersner

chore: Move all test solidity files to single directory
  contracts/src/v0.1/test/TestEllipticCurve.sol
Owners: @martinkersner

fix: Removed unused auxiliary functions at `TestEllipticCurve.sol`
  contracts/src/v0.1/test/TestEllipticCurve.sol
Owners: @martinkersner

wip
  contracts/src/v0.1/libraries/VRF.sol
Owners: @martinkersner

feat: Update test configurations with data for VRF-draft-10
  contracts/package.json
  contracts/test/v0.1/VRF-test-data/data.json
  vrf/src/types.ts
Owners: @martinkersner

chore: Move EC deployment script
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/EllipticCurve.utils.cjs
Owners: @martinkersner

feat: Update VRF internal test data to version 10 (an extra zero)
  contracts/test/v0.1/VRF-test-data/data.json
Owners: @martinkersner

fix: `uint` -> `uint256`
  contracts/src/v0.1/test/TestEllipticCurve.sol
Owners: @martinkersner

fix: Remove web3 BN conversion in tests
  contracts/test/v0.1/EllipticCurve.test.cjs
Owners: @martinkersner

EC & VRF on-chain tests (#554)
  .github/workflows/contracts.test.yaml
  contracts/package.json
  contracts/src/v0.1/libraries/VRF.sol
  contracts/src/v0.1/libraries/ecc/EllipticCurve.sol
  contracts/src/v0.1/libraries/ecc/FastEcMul.sol
  contracts/src/v0.1/test/TestEllipticCurve.sol
  contracts/src/v0.1/test/TestHelperVRF.sol
  contracts/src/v0.1/test/TestHelperVRFInternals.sol
  contracts/test/v0.1/EC-test-data/P192.json
  contracts/test/v0.1/EC-test-data/P224.json
  contracts/test/v0.1/EC-test-data/P256-aux.json
  contracts/test/v0.1/EC-test-data/P256.json
  contracts/test/v0.1/EC-test-data/secp192k1.json
  contracts/test/v0.1/EC-test-data/secp224k1.json
  contracts/test/v0.1/EC-test-data/secp256k1-aux.json
  contracts/test/v0.1/EC-test-data/secp256k1.json
  contracts/test/v0.1/EllipticCurve.test.cjs
  contracts/test/v0.1/VRF-test-data/data.json
  contracts/test/v0.1/VRF.test.cjs
  contracts/test/v0.1/VRFCoordinator.config.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFInternal.test.cjs
  vrf/src/types.ts
Owners: @martinkersner

chore: Interface VRF coordinator comment updates
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
Owners: @Bisonai/blockchain

feat: Get VRF commitment test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

fixed local variable never initialized
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner, @KelvinThai, @bayram98

fix: Add missing `await` in VRF Coordinator test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Separate `CoordinatorBase` from `VRFCoordinator`
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
Owners: @martinkersner, @Bisonai/blockchain

feat: Separate RequestResponseCoordinator from CoordinatorBase
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
Owners: @martinkersner, @bayram98, @Bisonai/blockchain

fix: Deposit value to account before requesting random words
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Estimate total fee for VRF
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner, @bayram98

feat: Remove `increaseReqCount` function
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Update VRF fee computation
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner, @KelvinThai, @Bisonai/blockchain

feat: Simplify and unify payment fee computation in coordinators
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner, @bayram98, @Bisonai/blockchain

fixed reentrancy in prepayment
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

feat: Move `jobId` validation to internal `requestData` function
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

chore: Remove incomplete comments
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner

feat: Remove unused import
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

chore: Fix comment in `IPrepayment`
  contracts/src/v0.1/interfaces/IPrepayment.sol
Owners: @Bisonai/blockchain

Update fee computation in coordinators (#559)
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IAccount.sol
  contracts/src/v0.1/interfaces/ICoordinatorBase.sol
  contracts/src/v0.1/interfaces/IPrepayment.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/interfaces/IVRFCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
  contracts/test/v0.1/State.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: Check whether oracle already submitted to RR coordinator
  contracts/src/v0.1/RequestResponseCoordinator.sol
Owners: @bayram98

fixed variable never initialized warning from slither
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
Owners: @martinkersner, @KelvinThai, @bayram98

feat: Test to allow only a single submission/oracle in multi sub.
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @martinkersner

fixed reentrancy warning from silther in prepayment
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

Don't allow to submit to Request-Response coordinator twice for the same request (#562)
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @martinkersner

feat: Allow to register multiple oracles with the same keyhash
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Tests for keeping single keyhash for multiple oracles
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Test for fulfilling VRF by unregistered oracle & fulfill > 1
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
