Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

Feat add detail table and pagination (#631)
  admin/src/components/Common/BasicButton/index.tsx
  admin/src/components/Common/Header/styled.ts
  admin/src/components/Common/NavigationDropdown/styled.ts
  admin/src/components/Common/TabList/styled.ts
  admin/src/components/Common/TabPanel/styled.ts
  admin/src/components/Template/BullMonitor/DetailHeader/index.tsx
  admin/src/components/Template/BullMonitor/DetailHeader/styled.ts
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/styled.ts
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/BullMonitor/TableHeader/styled.ts
  admin/src/components/Template/BullMonitor/detail.tsx
  admin/src/theme/globals.css
  admin/src/theme/theme.tsx
  admin/src/utils/api.ts
  admin/src/utils/index.ts
Owners: @martinkersner

monitor redis config from env possible
  monitor/src/app.module.ts
  monitor/src/common/configuration.ts
  monitor/src/modules/redis.module.ts
  monitor/src/redis/redis.service.ts
Owners: @martinkersner

added queue and worker for deviation
  core/src/settings.ts
  core/src/worker/data-feed.ts
  fetcher/src/app.settings.ts
  fetcher/src/job/job.api.ts
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.module.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
  fetcher/src/settings.ts
Owners: @martinkersner

feat: Integrate delegated fee to reporter data feed
  core/src/errors.ts
  core/src/reporter/data-feed.ts
  core/src/reporter/factory.ts
  core/src/reporter/reporter.ts
  core/src/reporter/request-response.ts
  core/src/reporter/utils.ts
  core/src/reporter/vrf.ts
  core/src/settings.ts
  core/src/types.ts
Owners: @martinkersner

chore: typos
  cli/README.md
  cli/src/delegator.ts
Owners: @martinkersner

feat: Build caver wallet
  core/src/reporter/state.ts
Owners: @martinkersner

chore: Update delegator schema and simplify transaction validation
  delegator/prisma/migrations/20230406012816_init/migration.sql
  delegator/prisma/migrations/20230406032022_remove_allow_all_function/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: Add ORAKL_NETWORK_DELEGATOR_URL to core .env
  core/.env.example
Owners: @martinkersner

feat: Delegator new init migration
  delegator/README.md
  delegator/prisma/migrations/20230524075953_init/migration.sql
Owners: @bayram98

refactor: Error catching in reporter
  core/src/reporter/utils.ts
Owners: @martinkersner

fix: test
  core/src/reporter/utils.ts
  core/test/reporter.test.ts
Owners: @martinkersner

fix: Hide endpoint address
  admin/src/utils/api.ts
Owners: @martinkersner

add: Toast types
  admin/src/utils/types.ts
Owners: @martinkersner

add: Toast hook
  admin/src/hook/useToastContext.ts
Owners: @martinkersner

add: Button theme
  admin/src/theme/theme.tsx
Owners: @martinkersner

add: Mui style package
  admin/.env
  admin/package.json
  admin/yarn.lock
Owners: @martinkersner

feat: Add toast component
  admin/src/components/Common/Toast/index.tsx
  admin/src/components/Common/Toast/styled.ts
Owners: @martinkersner

feat: Add toast provider
  admin/src/app/layout.tsx
  admin/src/components/Common/ToastProvider/index.tsx
Owners: @martinkersner

feat: Add toast to table components
  admin/src/components/Template/BullMonitor/AggregatorTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/BullMonitor/RequestResponseTable/index.tsx
  admin/src/components/Template/BullMonitor/VrfTable/index.tsx
Owners: @martinkersner

Remove .env from version control
  admin/.env
  admin/.gitignore
Owners: @martinkersner

removed default password in decrypt
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

added encrypt and decrypt private key in reporter (#624)
  api/.env.example
  api/prisma/migrations/20230518033615_reporter_alter_private_key_type/migration.sql
  api/prisma/schema.prisma
  api/src/reporter/reporter.service.spec.ts
  api/src/reporter/reporter.service.ts
  api/src/reporter/reporter.utils.ts
Owners: @martinkersner

removed delay in deviation job
  core/src/worker/data-feed.ts
Owners: @martinkersner

enhance UI/UX (#635)
  admin/.gitignore
  admin/package.json
  admin/src/app/layout.tsx
  admin/src/components/Common/Toast/index.tsx
  admin/src/components/Common/Toast/styled.ts
  admin/src/components/Common/ToastProvider/index.tsx
  admin/src/components/Template/BullMonitor/AggregatorTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/styled.ts
  admin/src/components/Template/BullMonitor/RequestResponseTable/index.tsx
  admin/src/components/Template/BullMonitor/VrfTable/index.tsx
  admin/src/hook/useToastContext.ts
  admin/src/theme/theme.tsx
  admin/src/utils/api.ts
  admin/src/utils/types.ts
  admin/yarn.lock
Owners: @martinkersner

add api feature for redis info
  monitor/package.json
  monitor/src/bull/bulls.controller.ts
  monitor/src/bull/bulls.repository.ts
  monitor/src/bull/bulls.service.ts
Owners: @martinkersner

add gitaction flow for monitor
  .github/workflows/monitor.image+upload.yaml
Owners: @martinkersner

fixed readme
  monitor/README.md
Owners: @martinkersner

deletion of deploymennt
  monitor/dc-graph-node.yml
  monitor/dc-graphana.yml
  monitor/dc-monitor.yml
Owners: @martinkersner

deletion of docker-compose
  monitor/docker-compose.example.yml
Owners: @joseph-bisonai

add git action
  monitor/.gitignore
Owners: @martinkersner

test push to build image
  .github/workflows/monitor.image+upload.yaml
Owners: @martinkersner

build image path changed for monitor
  .github/workflows/monitor.image+upload.yaml
Owners: @martinkersner

fix: Data fetch logic
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
Owners: @martinkersner

fixed request resposne
  monitor/src/bull/bulls.service.ts
Owners: @martinkersner

remove push upload image
  .github/workflows/monitor.image+upload.yaml
Owners: @martinkersner

add: QueueInfo endpoint
  admin/src/utils/api.ts
Owners: @martinkersner

add: QueueInfo types
  admin/src/utils/types.ts
Owners: @martinkersner

feat: Add queueInfo to each table
  admin/src/components/Template/BullMonitor/AggregatorTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/components/Template/BullMonitor/RequestResponseTable/index.tsx
  admin/src/components/Template/BullMonitor/TableHeader/index.tsx
  admin/src/components/Template/BullMonitor/VrfTable/index.tsx
  admin/src/components/Template/BullMonitor/main.tsx
  admin/yarn.lock
Owners: @martinkersner

remove: Console.log
  admin/src/components/Common/TabList/index.tsx
  admin/src/components/Template/BullMonitor/DetailTable/index.tsx
  admin/src/components/Template/BullMonitor/MonitorTable/index.tsx
  admin/src/utils/api.ts
Owners: @martinkersner

add git action TEST
  .github/workflows/admin.image+upload.yaml
  admin/.env.example
  admin/Dockerfile
Owners: @martinkersner
