Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

chore: Use Prepayment deployment function
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: Set/Get protocol fee recipient test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: Account owner test
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
Owners: @martinkersner

fix: deposit/withdraw test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

chore: Fix prepayment test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: Test to try to withdraw more than current balance
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
Owners: @martinkersner

feat: Withdraw auxiliary function
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
Owners: @martinkersner

feat: Pending request exist: cancel/withdraw screnarios
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner

Account & Prepayment tests (#590)
  contracts/src/v0.1/Account.sol
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/mocks/CoordinatorBaseMock.sol
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/CoordinatorBase.test.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/Prepayment.utils.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner, @KelvinThai

feat: Additional Prepayment tests
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: Update Aggregator tests
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: Deploy aggregator auxiliary function
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Aggregator.utils.cjs
Owners: @martinkersner

feat: IncorrectCommitment VRFCoordinator
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: GasLimitTooBig & InvalidConsumer
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

chore: Refactor VRFCoordinator test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

chore: Remove state from VRFCoordinator test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: NumWordsTooBig test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: VRFCoordinator direct payment refund test
  contracts/hardhat.config.cjs
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner, @bayram98, @Bisonai/blockchain

feat: VRFCoordinator getters test
  contracts/test/v0.1/VRFCoordinator.test.cjs
Owners: @martinkersner

feat: Update VRF gas after payment + check on oracle revenue
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/VRFCoordinator.config.cjs
Owners: @martinkersner

feat: Gas rebate for RR test
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
Owners: @martinkersner

feat: Move RR payment closer to the end of fulfillment
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
Owners: @bayram98, @martinkersner

feat: Refactor signers in revert fulfillment test
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
Owners: @martinkersner

feat: Oracle registration test
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
Owners: @martinkersner

feat: Account test update
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Account.utils.cjs
Owners: @martinkersner

feat: TooManyConsumers account test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: Prepayment modifier test
  contracts/test/v0.1/Prepayment.test.cjs
Owners: @martinkersner

feat: RR refundRecipient
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
Owners: @bayram98, @Bisonai/blockchain, @martinkersner

Mix of contract modifications and tests (#592)
  contracts/hardhat.config.cjs
  contracts/src/v0.1/Aggregator.sol
  contracts/src/v0.1/CoordinatorBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/IRequestResponseCoordinatorBase.sol
  contracts/src/v0.1/interfaces/IVRFCoordinatorBase.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/src/v0.1/mocks/VRFConsumerMock.sol
  contracts/test/v0.1/Account.test.cjs
  contracts/test/v0.1/Account.utils.cjs
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Aggregator.utils.cjs
  contracts/test/v0.1/CoordinatorRevertFulfillment.test.cjs
  contracts/test/v0.1/Prepayment.test.cjs
  contracts/test/v0.1/RequestResponse.config.cjs
  contracts/test/v0.1/RequestResponseConsumerContract.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.test.cjs
  contracts/test/v0.1/RequestResponseCoordinator.utils.cjs
  contracts/test/v0.1/VRFCoordinator.config.cjs
  contracts/test/v0.1/VRFCoordinator.test.cjs
  contracts/test/v0.1/VRFCoordinator.utils.cjs
Owners: @martinkersner, @bayram98, @Bisonai/blockchain

chore: Explain `acceptingSubmissions` functoin
  contracts/src/v0.1/Aggregator.sol
Owners: @martinkersner

feat: Add comments and defined errors
  contracts/src/v0.1/Aggregator.sol
Owners: @martinkersner

feat: Exlanation for https://github.com/Bisonai/orakl/issues/136
  contracts/src/v0.1/Aggregator.sol
Owners: @martinkersner

feat: Auxiliary function to get the `startedAt` from latest round
  contracts/src/v0.1/Aggregator.sol
Owners: @martinkersner

chore: Refactor aggregator test
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
  contracts/test/v0.1/Aggregator.utils.cjs
Owners: @martinkersner

feat: TooManyOracles Aggregator
  contracts/src/v0.1/Aggregator.sol
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `MinSubmissionGtMaxSubmission` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `MaxSubmissionGtOracleNum` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `RestartDelayExceedOracleNum` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `MinSubmissionZero` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

feat: `PrevRoundNotSupersedable` test
  contracts/test/v0.1/Aggregator.test.cjs
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
