Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98

Update api.image+upload.yaml
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

Update cli.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
Owners: @martinkersner

Update core.image+upload.yaml
  .github/workflows/core.image+upload.yaml
Owners: @martinkersner

Update fetcher.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

Image tag with version (#490)
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

created mapping sIsCoordinator to check when create account, add accType as return value in getAccount function.
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/PrepaymentInterface.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

wip: Listener 2.0
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/types.ts
  core/src/listener/watchman.ts
  core/src/settings.ts
  core/src/types.ts
Owners: @martinkersner

Fix 500-server-error (#492)
  api/src/adapter/adapter.service.ts
Owners: @martinkersner

Fix 500-server-error (#492) (#494)
  api/src/adapter/adapter.service.ts
Owners: @martinkersner

use sIsCoordinator mapping in addCooridinator
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

fixed prettier
  contracts/src/v0.1/Prepayment.sol
Owners: @KelvinThai

feat: Improve error catching in [latest] listener job
  core/src/listener/listener.ts
  core/src/listener/state.ts
  core/src/settings.ts
Owners: @martinkersner

feat: Improve listener logging system
  core/src/listener/listener.ts
  core/src/listener/state.ts
  core/src/settings.ts
Owners: @martinkersner

fix: Change comment location
  core/src/listener/listener.ts
Owners: @martinkersner

feat: Add MIT license
  core/LICENSE
  core/package.json
Owners: @martinkersner

feat: Add listener explanation comments
  core/src/listener/listener.ts
Owners: @martinkersner

Add accType attribute for Accounts (#491)
  contracts/src/v0.1/Prepayment.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/VRFCoordinator.sol
  contracts/src/v0.1/interfaces/PrepaymentInterface.sol
Owners: @KelvinThai, @bayram98, @martinkersner, @Bisonai/blockchain

fix: lint
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/watchman.ts
Owners: @martinkersner

chore: `listenerService` description
  core/src/listener/listener.ts
Owners: @martinkersner

feat: Use listener job settings for RR
  core/src/listener/request-response.ts
Owners: @martinkersner

chore: Listener state description
  core/src/listener/state.ts
Owners: @martinkersner

chore: Update descriptions of listener's ephemeral state
  core/src/listener/state.ts
Owners: @martinkersner

feat: Resolve type issue
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/types.ts
Owners: @martinkersner

test git action
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

test git fixed set-output
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

changed aws credentials version up
  .github/workflows/api.image+upload.yaml
Owners: @martinkersner

fixed deprecated output
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

fixed deprecated output
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

Fix git actions deprecated warning (#497)
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

feat: Change location of reporter log message
  core/src/reporter/data-feed.ts
  core/src/reporter/main.ts
Owners: @martinkersner

feat: add app versioning
  delegator/src/app.controller.ts
Owners: @bayram98

feat: connect delegator with orakl-network-cli
  cli/.env.example
  cli/README.md
  cli/src/delegator.ts
  cli/src/index.ts
  cli/src/settings.ts
  cli/src/utils.ts
Owners: @martinkersner

fix: delegator app.e2e tests
  delegator/src/app.controller.ts
  delegator/src/app.service.ts
  delegator/test/app.e2e-spec.ts
Owners: @bayram98

feat: Set observed block number for all listener initialization types
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/types.ts
Owners: @martinkersner

changed sJobId mapping (bytes32=>bool), added more request function in RequestResponseConsumerMock and RequestResponseConsumerContract.test
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponse.config.ts
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner

feat: add reporter app version
  delegator/src/reporter/reporter.controller.ts
Owners: @bayram98

feat: add delegator organization & reporter to cli
  cli/src/delegator.ts
Owners: @martinkersner

feat: Send processed data from listener to worker
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/types.ts
Owners: @martinkersner

feat: connect delegator contracts with cli
  cli/src/delegator.ts
Owners: @martinkersner

feat: Update comment
  core/src/listener/listener.ts
Owners: @martinkersner
