Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: generate & add new account to test delegator
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: setup delegator test & build actions
  .github/workflows/delegator.test+build.yaml
  delegator/test.sh
Owners: @martinkersner, @bayram98

created Public and Private key in secrets to use for integration action test
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

used env Public and Private for action request-response integation test
  .github/workflows/request-response.integration.test.yaml
Owners: @martinkersner

test action integration with env
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

test action with env key
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

tested integration with env key
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

fix: env variable names
  delegator/README.md
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @bayram98

feat: add .env varaibles from secrets
  .github/workflows/delegator.test+build.yaml
Owners: @martinkersner

cleanup: delete local test.sh file
  delegator/test.sh
Owners: @bayram98

Setup github actions for delegator (#384)
  .github/workflows/delegator.test+build.yaml
  delegator/README.md
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
Owners: @martinkersner, @bayram98

changed variables name
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

chore: Update VRF usage comment
  cli/src/vrf.ts
Owners: @martinkersner

feat: Specify version of api directly through environment variable
  cli/src/adapter.ts
  cli/src/aggregator.ts
  cli/src/chain.ts
  cli/src/fetcher.ts
  cli/src/settings.ts
Owners: @martinkersner

feat: Define `Service` in Orakl API
  api/prisma/migrations/20230315021320_init/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/service/dto/service.dto.ts
  api/src/service/service.controller.ts
  api/src/service/service.module.ts
  api/src/service/service.service.spec.ts
  api/src/service/service.service.ts
Owners: @martinkersner

feat: Connect Orakl CLI Service to Orakl Network API
  api/prisma/migrations/20230315035511_init/migration.sql
  api/src/app.controller.ts
  api/src/app.service.ts
  api/test/app.e2e-spec.ts
  cli/src/index.ts
  cli/src/service.ts
  cli/src/utils.ts
Owners: @martinkersner

Update integration test with hardhat public and private keys for reporter (#385)
  .github/workflows/request-response.integration.test.yaml
  .github/workflows/vrf.integration.test.yaml
Owners: @martinkersner

feat: Remove unfinished test for Chain in Orakl Network API
  api/src/chain/chain.service.spec.ts
Owners: @martinkersner

feat: add new adapters definition
  core/adapter/ada-usdt.adapter.json
  core/adapter/bnb-usdt.adapter.json
  core/adapter/busd-usdt.adapter.json
  core/adapter/dai-usdt.adapter.json
  core/adapter/doge-usdt.adapter.json
  core/adapter/dot-usdt.adapter.json
  core/adapter/matic-usdt.adapter.json
  core/adapter/shib-usdt.adapter.json
  core/adapter/sol-usdt.adapter.json
  core/adapter/trx-usdt.adapter.json
  core/adapter/usdc-usdt.adapter.json
  core/adapter/xrp-usdt.adapter.json
Owners: @martinkersner

feat: add new aggregator's definition
  core/aggregator/localhost/ada-usdt.aggregator.json
  core/aggregator/localhost/bnb-usdt.aggregator.json
  core/aggregator/localhost/busd-usdt.aggregator.json
  core/aggregator/localhost/dai-usdt.aggregator.json
  core/aggregator/localhost/doge-usdt.aggregator.json
  core/aggregator/localhost/dot-usdt.aggregator.json
  core/aggregator/localhost/matic-usdt.aggregator.json
  core/aggregator/localhost/shib-usdt.aggregator.json
  core/aggregator/localhost/sol-usdt.aggregator.json
  core/aggregator/localhost/trx-usdt.aggregator.json
  core/aggregator/localhost/usdc-usdt.aggregator.json
  core/aggregator/localhost/xrp-usdt.aggregator.json
Owners: @martinkersner

feat: Orakl API Listener
  api/prisma/migrations/20230315041349_listener/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/listener/dto/create-listener.dto.ts
  api/src/listener/dto/update-listener.dto.ts
  api/src/listener/listener.controller.ts
  api/src/listener/listener.module.ts
  api/src/listener/listener.service.spec.ts
  api/src/listener/listener.service.ts
Owners: @martinkersner

feat: Orakl CLI listener integration with Orakl API
  api/src/listener/dto/query-listener.dto.ts
  api/src/listener/listener.controller.ts
  cli/src/index.ts
  cli/src/listener.ts
Owners: @martinkersner

update: change how to loadAggregator from fetcher
  fetcher/src/job/job.api.ts
Owners: @martinkersner

update: update adapter and aggregator hashes
  core/adapter/ada-usdt.adapter.json
  core/adapter/bnb-usdt.adapter.json
  core/adapter/btc-usd.adapter.json
  core/adapter/btc-usdt.adapter.json
  core/adapter/busd-usdt.adapter.json
  core/adapter/dai-usdt.adapter.json
  core/adapter/doge-usdt.adapter.json
  core/adapter/dot-usdt.adapter.json
  core/adapter/eth-usd.adapter.json
  core/adapter/eth-usdt.adapter.json
  core/adapter/klay-usd.adapter.json
  core/adapter/klay-usdt.adapter.json
  core/adapter/matic-usdt.adapter.json
  core/adapter/shib-usdt.adapter.json
  core/adapter/sol-usdt.adapter.json
  core/adapter/trx-usdt.adapter.json
  core/adapter/usdc-usdt.adapter.json
  core/adapter/xrp-usdt.adapter.json
  core/aggregator/localhost/ada-usdt.aggregator.json
  core/aggregator/localhost/bnb-usdt.aggregator.json
  core/aggregator/localhost/btc-usd.aggregator.json
  core/aggregator/localhost/busd-usdt.aggregator.json
  core/aggregator/localhost/dai-usdt.aggregator.json
  core/aggregator/localhost/doge-usdt.aggregator.json
  core/aggregator/localhost/dot-usdt.aggregator.json
  core/aggregator/localhost/eth-usd.aggregator.json
  core/aggregator/localhost/eth-usdt.aggregator.json
  core/aggregator/localhost/klay-usd.aggregator.json
  core/aggregator/localhost/klay-usdt.aggregator.json
  core/aggregator/localhost/matic-usdt.aggregator.json
  core/aggregator/localhost/shib-usdt.aggregator.json
  core/aggregator/localhost/sol-usdt.aggregator.json
  core/aggregator/localhost/trx-usdt.aggregator.json
  core/aggregator/localhost/usdc-usdt.aggregator.json
  core/aggregator/localhost/xrp-usdt.aggregator.json
Owners: @martinkersner

Add more data feed definitions (#390)
  core/adapter/ada-usdt.adapter.json
  core/adapter/bnb-usdt.adapter.json
  core/adapter/btc-usd.adapter.json
  core/adapter/busd-usdt.adapter.json
  core/adapter/dai-usdt.adapter.json
  core/adapter/doge-usdt.adapter.json
  core/adapter/dot-usdt.adapter.json
  core/adapter/eth-usd.adapter.json
  core/adapter/eth-usdt.adapter.json
  core/adapter/klay-usd.adapter.json
  core/adapter/klay-usdt.adapter.json
  core/adapter/matic-usdt.adapter.json
  core/adapter/shib-usdt.adapter.json
  core/adapter/sol-usdt.adapter.json
  core/adapter/trx-usdt.adapter.json
  core/adapter/usdc-usdt.adapter.json
  core/adapter/xrp-usdt.adapter.json
  core/aggregator/localhost/ada-usdt.aggregator.json
  core/aggregator/localhost/bnb-usdt.aggregator.json
  core/aggregator/localhost/btc-usd.aggregator.json
  core/aggregator/localhost/busd-usdt.aggregator.json
  core/aggregator/localhost/dai-usdt.aggregator.json
  core/aggregator/localhost/doge-usdt.aggregator.json
  core/aggregator/localhost/dot-usdt.aggregator.json
  core/aggregator/localhost/eth-usd.aggregator.json
  core/aggregator/localhost/eth-usdt.aggregator.json
  core/aggregator/localhost/klay-usd.aggregator.json
  core/aggregator/localhost/klay-usdt.aggregator.json
  core/aggregator/localhost/matic-usdt.aggregator.json
  core/aggregator/localhost/shib-usdt.aggregator.json
  core/aggregator/localhost/sol-usdt.aggregator.json
  core/aggregator/localhost/trx-usdt.aggregator.json
  core/aggregator/localhost/usdc-usdt.aggregator.json
  core/aggregator/localhost/xrp-usdt.aggregator.json
  fetcher/src/job/job.api.ts
Owners: @martinkersner

feat: Orakl API `vrf` endpoint for `VrfKey`
  api/prisma/migrations/20230315082105_vrf_key/migration.sql
  api/prisma/schema.prisma
  api/src/app.module.ts
  api/src/vrf/dto/create-vrf-key.dto.ts
  api/src/vrf/dto/update-vrf-key.dto.ts
  api/src/vrf/vrf.controller.ts
  api/src/vrf/vrf.module.ts
  api/src/vrf/vrf.service.spec.ts
  api/src/vrf/vrf.service.ts
Owners: @martinkersner

separated directories for deploy script
  contracts/deploy/0-prepayment/0-Prepayment.ts
  contracts/deploy/1-requestResponse/0-RequestResponseCoordinator.ts
  contracts/deploy/2-vrf/0-VRFCoordinator.ts
  contracts/deploy/3-aggregator/0-Aggregator.ts
  contracts/package.json
Owners: @martinkersner

fix: Extract `chain` when listing registered vrf keys
  api/src/vrf/vrf.controller.ts
Owners: @martinkersner

feat: Orakl CLI VRF
  cli/src/index.ts
  cli/src/vrf.ts
Owners: @martinkersner

fix: Listener query with optional parameters
  api/src/listener/dto/query-listener.dto.ts
  api/src/listener/listener.controller.ts
Owners: @martinkersner

fix: eslint
  api/src/app.module.ts
  api/src/listener/listener.controller.ts
Owners: @martinkersner

feat: Cleanup from SQLite
  cli/migrations/001-initial.sql
  cli/package.json
  cli/src/cli-types.ts
  cli/src/index.ts
  cli/src/migrate.ts
  cli/src/utils.ts
  cli/test/listener.test.ts
  cli/test/service.test.ts
  cli/test/vrf.test.ts
  cli/yarn.lock
Owners: @martinkersner

chore: Update keywords
  cli/package.json
Owners: @martinkersner

feat: Remove migrations from Dockerfile
  cli/src/Dockerfile
Owners: @martinkersner

chore: Typo in package.json
  cli/package.json
Owners: @martinkersner

feat: Test healthcheck of adapter before sending request
  cli/src/adapter.ts
Owners: @martinkersner

feat: Healthcheck before orakl cli aggregator request
  cli/src/adapter.ts
  cli/src/aggregator.ts
Owners: @martinkersner

chore: Error message change in Orakl CLI chain
  cli/src/chain.ts
Owners: @martinkersner

chore: Orakl CLI fetcher comment
  cli/src/fetcher.ts
Owners: @martinkersner

feat: Orakl Network CLI service error message
  cli/src/service.ts
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
