Repository Bisonai/orakl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @martinkersner, @joseph-bisonai, @KelvinThai, @bayram98, @Bisonai/blockchain

feat: connect delegator function with cli
  cli/src/delegator.ts
Owners: @martinkersner

feat: Integrate new listener with VRF
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/migration/localhost/VRF/migration.lock
  core/src/listener/main.ts
  core/src/listener/types.ts
  core/src/listener/vrf.ts
Owners: @martinkersner

feat: Integrate new listener to data feed service
  contracts/migration/localhost/Aggregator/20230321121337_ETH-USD.json
  contracts/migration/localhost/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/localhost/Aggregator/migration.lock
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/main.ts
  core/src/listener/request-response.ts
  core/src/listener/types.ts
Owners: @martinkersner

fix: eslint
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/vrf.ts
Owners: @martinkersner

fix: Remove outdated `intervalId` property
  core/test/listener.test.ts
Owners: @martinkersner

fix: Don't allow `latestBlock` to be smaller than `observedBlock`
  core/src/listener/listener.ts
Owners: @martinkersner

feat: Return `undefined` when listener does not pass data further
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf.ts
Owners: @martinkersner

fix: Change history queue name in data feed listener
  core/src/listener/data-feed.ts
Owners: @martinkersner

feat: Update default `observedBlock` value for `clear` init
  core/src/listener/state.ts
Owners: @martinkersner

chore: Update comment
  core/src/listener/listener.ts
Owners: @martinkersner

chore: Remove localhost migration file
  contracts/migration/localhost/RequestResponse/migration.lock
Owners: @martinkersner

feat: add delegator-contract connect and disconnect to CLI
  cli/src/delegator.ts
Owners: @martinkersner

feat: add delegator sign to CLI
  cli/src/delegator.ts
Owners: @martinkersner

remove gaLimit option when calling fulfill function
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @martinkersner

format: fix how to get response.data
  cli/src/delegator.ts
Owners: @martinkersner

Separated the request function
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
Owners: @bayram98, @martinkersner

feat: add cli delegator test
  cli/src/delegator.ts
  cli/test/delegator.ts
Owners: @martinkersner

cleanup: remove unused import
  cli/test/delegator.ts
  delegator/test/app.e2e-spec.ts
Owners: @martinkersner, @bayram98

fix: remove optinal input param
  cli/src/delegator.ts
Owners: @martinkersner

chore: update README
  cli/README.md
Owners: @martinkersner

chore: update README
  cli/README.md
  cli/test/delegator.ts
Owners: @martinkersner

feat: bump-up cli version from 0.5.0 to 0.6.0
  cli/package.json
Owners: @martinkersner

chore: Bump up orakl-core version to 0.3.1
  core/package.json
Owners: @martinkersner

Listener 2.0 (#493)
  contracts/migration/localhost/Aggregator/20230321121337_ETH-USD.json
  contracts/migration/localhost/Aggregator/20230325094038_ETH-USDT.json
  contracts/migration/localhost/Aggregator/migration.lock
  contracts/migration/localhost/RequestResponse/migration.lock
  contracts/migration/localhost/VRF/20230321121337_init.json
  contracts/migration/localhost/VRF/migration.lock
  core/LICENSE
  core/package.json
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/request-response.ts
  core/src/listener/state.ts
  core/src/listener/types.ts
  core/src/listener/vrf.ts
  core/src/listener/watchman.ts
  core/src/reporter/data-feed.ts
  core/src/reporter/main.ts
  core/src/settings.ts
  core/src/types.ts
  core/test/listener.test.ts
Owners: @martinkersner

chore: add more comments & fix format
  cli/src/delegator.ts
Owners: @martinkersner

fix: change name of TEST_DELEGATOR_REPORTER_PK env variable
  .github/workflows/delegator.test+build.yaml
  cli/src/cli-types.ts
  delegator/.env.example
  delegator/README.md
  delegator/src/sign/sign.service.spec.ts
Owners: @martinkersner, @bayram98

Deploy Orakl Network Delegator#506 (#510)
  .github/workflows/delegator.test+build.yaml
  cli/.env.example
  cli/README.md
  cli/package.json
  cli/src/cli-types.ts
  cli/src/delegator.ts
  cli/src/index.ts
  cli/src/settings.ts
  cli/src/utils.ts
  cli/test/delegator.ts
  delegator/.env.example
  delegator/README.md
  delegator/src/app.controller.ts
  delegator/src/app.service.ts
  delegator/src/reporter/reporter.controller.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/test/app.e2e-spec.ts
Owners: @martinkersner, @bayram98

add delegator docker file
  .github/workflows/delegator.image+upload.yaml
  delegator/docker-compose.build.yaml
  delegator/src/Dockerfile
Owners: @martinkersner, @bayram98

fixed delegator docker path
  .github/workflows/delegator.image+upload.yaml
Owners: @martinkersner

fixed delegator docker for prisma
  delegator/src/Dockerfile
Owners: @bayram98

fixed packages version
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/delegator.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Owners: @martinkersner

fixed prisdma build
  delegator/package.json
Owners: @bayram98

fixed prisma issues
  .github/workflows/delegator.image+upload.yaml
  delegator/prisma/schema.prisma
Owners: @martinkersner, @bayram98

fixed braches name on git actions
  .github/workflows/delegator.image+upload.yaml
Owners: @martinkersner

fix: Reraise error for BullMQ to know that job failed
  core/src/worker/request-response.ts
Owners: @martinkersner

Reraise error for BullMQ to know that job failed (#522)
  core/src/worker/request-response.ts
Owners: @martinkersner

Delegator git actions building image (#520)
  .github/workflows/api.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/delegator.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
  delegator/docker-compose.build.yaml
  delegator/package.json
  delegator/prisma/schema.prisma
  delegator/src/Dockerfile
Owners: @martinkersner, @bayram98

Add more functions to allow multiple data types in request-response… (#466)
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/RequestResponseCoordinatorInterface.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Owners: @bayram98, @martinkersner, @Bisonai/blockchain

feat: Increase fetcher concurrency to 5
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/settings.ts
Owners: @martinkersner

Increase fetcher concurrency to 5 (#523)
  fetcher/src/job/job.controller.ts
  fetcher/src/job/job.processor.ts
  fetcher/src/settings.ts
Owners: @martinkersner

.github/CODEOWNERS:

*                                       @martinkersner

# infra
docker-compose.*                        @joseph-bisonai

# on-chain
Aggregator.sol                          @martinkersner
AggregatorProxy.sol                     @martinkersner
Median.sol                              @martinkersner
Prepayment.sol                          @KelvinThai
RequestResponseConsumerBase.sol         @bayram98
RequestResponseCoordinator.sol          @bayram98
SignedSafeMath.sol                      @martinkersner
VRFConsumerBase.sol                     @KelvinThai
VRFCoordinator                          @KelvinThai
libraries/Buffer.sol                    @bayram98
libraries/CBOR.sol                      @bayram98
libraries/Math.sol                      @martinkersner
libraries/Orakl.sol                     @bayram98
libraries/VRF.sol                       @martinkersner
libraries/ecc/                          @martinkersner
mocks/DataFeedConsumerMock.sol          @martinkersner
mocks/QuickSelectMock.sol               @martinkersner
mocks/RequestResponseConsumerMock.sol   @bayram98
mocks/VRFConsumerMock.sol               @KelvinThai
interfaces/                             @Bisonai/blockchain

## off-chain vrf
listener/vrf.ts                         @KelvinThai
worker/vrf.ts                           @KelvinThai
reporter/vrf.ts                         @KelvinThai

## off-chain request-response
listener/request-response.ts            @bayram98
worker/request-response.ts              @bayram98
reporter/request-response.ts            @bayram98

## off-chain
listener/aggregator.ts                  @martinkersner
worker/aggregator.ts                    @martinkersner
reporter/aggregator.ts                  @martinkersner

delegator/                              @bayram98
