Repository Bisonai/orakl, pull requests merged in 2023-11, with the labels that each got.

#890 Add .env.local to for local data feed setup
  api/.env.local
  cli/.env.local
  core/.env.local
  fetcher/.env.local
Labels: documentation

#898 Fix `cli adapter hash` error msg
  cli/src/adapter.ts
Labels: cli

#901 fix cli test failure
  cli/src/aggregator.ts
Labels: cli

#903 Detailed err message on wrong request url
  cli/src/utils.ts
Labels: cli

#931 Fix PoR
  contracts/.prettierrc
  core/src/errors.ts
  core/src/por/api.ts
  core/src/por/errors.ts
  core/src/por/fetcher.ts
  core/src/por/job.errors.ts
  core/src/por/job.types.ts
  core/src/por/main.ts
  core/src/por/reducer.ts
  core/src/por/reporter.ts
  core/src/por/types.ts
  core/src/settings.ts
Labels: por

#920 Set timeout on calling delegator
  core/src/errors.ts
  core/src/reporter/utils.ts
  core/src/settings.ts
  core/src/utils.ts
Labels: reporter

#934 Add proxy location
  api/README.md
  api/prisma/migrations/20231116075406_add_proxy_location/migration.sql
  api/prisma/migrations/20231116080058_set_proxy_location_optional/migration.sql
  api/prisma/schema.prisma
  api/src/proxy/dto/proxy.ts
  api/src/proxy/proxy.service.spec.ts
  cli/src/proxy.ts
  cli/src/utils.ts
  fetcher/src/job/job.types.ts
  fetcher/src/job/job.utils.ts
Labels: cli, api, fetcher

#954 increase `orakl-contract` for core
  core/package.json
  core/yarn.lock
Labels: core

#945 Use faster query to fetch the latest aggregate
  api/src/aggregate/aggregate.service.ts
Labels: api

#960 Add state check from aggregator job & submit heartbeat job
  core/src/worker/data-feed.ts
Labels: aggregator, core
