Repository Bisonai/orakl, pull requests merged in 2023-04, with the labels that each got.

#475 fix delegator prisma structure
  delegator/package.json
  delegator/prisma/migrations/20230330073945_init/migration.sql
  delegator/prisma/migrations/20230406012816_init/migration.sql
  delegator/prisma/migrations/20230406032022_remove_allow_all_function/migration.sql
  delegator/prisma/schema.prisma
  delegator/src/contract/contract.controller.ts
  delegator/src/contract/contract.service.spec.ts
  delegator/src/contract/contract.service.ts
  delegator/src/contract/contract.utils.ts
  delegator/src/contract/dto/contract-connect.dto.ts
  delegator/src/reporter/reporter.service.ts
  delegator/src/reporter/reporter.utils.ts
  delegator/src/sign/dto/sign.dto.ts
  delegator/src/sign/errors.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/src/sign/sign.service.ts
  delegator/yarn.lock
Labels: delegator

#490 Image tag with version
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Labels: infra

#497 fix git actions deprecated warning
  .github/workflows/api.image+upload.yaml
  .github/workflows/cli.image+upload.yaml
  .github/workflows/core.image+upload.yaml
  .github/workflows/fetcher.image+upload.yaml
Labels: infra

#510 Deploy Orakl Network Delegator#506
  .github/workflows/delegator.test+build.yaml
  cli/.env.example
  cli/README.md
  cli/package.json
  cli/src/cli-types.ts
  cli/src/delegator.ts
  cli/src/index.ts
  cli/src/settings.ts
  cli/src/utils.ts
  cli/test/delegator.ts
  delegator/.env.example
  delegator/README.md
  delegator/src/app.controller.ts
  delegator/src/app.service.ts
  delegator/src/reporter/reporter.controller.ts
  delegator/src/sign/sign.service.spec.ts
  delegator/test/app.e2e-spec.ts
Labels: off-chain, cli, delegator

#466 added more functions to allow multiple data types in request-response…
  contracts/src/v0.1/RequestResponseConsumerBase.sol
  contracts/src/v0.1/RequestResponseConsumerFulfill.sol
  contracts/src/v0.1/RequestResponseCoordinator.sol
  contracts/src/v0.1/interfaces/RequestResponseCoordinatorInterface.sol
  contracts/src/v0.1/mocks/RequestResponseConsumerMock.sol
  contracts/test/v0.1/RequestResponseConsumerContract.test.ts
Labels: on-chain

#534 remove `serviceId` from Reporter table
  api/prisma/migrations/20230419030642_reporter_remove_serviceId_from_unique/migration.sql
  api/prisma/schema.prisma
Labels: bug, cli, api
