Repository Bisonai/orakl, pull requests merged in 2024-05, with the labels that each got.

#1444 Vault Integration for orakl api
  .github/workflows/api.image+upload.yaml
  api/.env.example
  api/go.mod
  api/go.sum
  api/secrets/secrets.go
  api/utils/utils.go
  go.work.sum
Labels: api

#1455 Manually add .js extension to relative imports
  .vscode/extensions.json
  cli/.eslintrc
  cli/package.json
  cli/src/adapter.ts
  cli/src/aggregator.ts
  cli/src/chain.ts
  cli/src/cli-types.ts
  cli/src/datafeed.ts
  cli/src/delegator.ts
  cli/src/fetcher.ts
  cli/src/index.ts
  cli/src/listener.ts
  cli/src/proxy.ts
  cli/src/reporter.ts
  cli/src/service.ts
  cli/src/utils.ts
  cli/src/vrf.ts
  yarn.lock
Labels: invalid, cli

#1463 update cli publish workflow and increment package version
  .github/workflows/cli.build+publish.yaml
  .github/workflows/cli.test.yaml
  cli/package.json
Labels: invalid, cli, deployment

#1469 New packaging for contracts to include v0.2
  .github/workflows/contracts.test+publish.yaml
  contracts/package.json
  contracts/v0.1/.husky/pre-commit
  contracts/v0.1/.npmignore
  contracts/v0.1/.nvmrc
  contracts/v0.1/lint-staged.config.js
  contracts/v0.1/package.json
  contracts/v0.2/.gitignore
  contracts/v0.2/.npmignore
  contracts/v0.2/README.md
  contracts/v0.2/package.json
  contracts/v0.2/tsconfig.json
  contracts/v0.2/yarn.lock
  package.json
  yarn.lock
Labels: enhancement, deployment

#1475 Add subpaths to contracts package and readme file
  contracts/README.md
  contracts/package.json
Labels: bug, documentation

#1483 Adjust core imports to new contracts package
  core/.husky/pre-commit
  core/package.json
  core/src/listener/data-feed-L2.ts
  core/src/listener/data-feed.ts
  core/src/listener/listener.ts
  core/src/listener/request-response-L2-fulfill.ts
  core/src/listener/request-response-L2-request.ts
  core/src/listener/request-response.ts
  core/src/listener/vrf-L2-fulfill.ts
  core/src/listener/vrf-L2-request.ts
  core/src/listener/vrf.ts
  core/src/reporter/utils.ts
  core/src/worker/data-feed-L2.ts
  core/src/worker/data-feed.ts
  core/src/worker/data-feed.utils.ts
  core/src/worker/request-response-L2-fulfill.ts
  core/src/worker/request-response-L2-request.ts
  core/src/worker/request-response.ts
  core/src/worker/vrf-L2-fulfill.ts
  core/src/worker/vrf-L2-request.ts
  core/src/worker/vrf.ts
  core/test/data-feed-worker.test.ts
  core/test/reporter.test.ts
Labels: core

#1485 foundry vscode integration settings
  .husky/pre-commit
  contracts/v0.2/remappings.txt
  core/.eslintrc
  core/package.json
  lint-staged.config.js
  package.json
  yarn.lock
Labels: enhancement

#1516 Nodemon for listener, worker, and reporter services
  core/package.json
  yarn.lock
Labels: enhancement, core

#1522 generate keccak256 mappings from sol errors
  contracts/v0.1/package.json
  contracts/v0.1/scripts/sol-error-mappings/error-keccak-mapping.js
  contracts/v0.1/scripts/sol-error-mappings/errorMappings.json
  contracts/v0.1/scripts/sol-error-mappings/get-error-from-encoding.js
Labels: enhancement
