Repository Bisonai/orakl, pull requests merged in 2024-01, with the labels that each got.

#1047 Docker Compose for Local Datafeed Connected To Testnet
  .gitignore
  README.md
  contracts/.gitignore
  contracts/deploy/Aggregator/Aggregator.cjs
  contracts/hardhat.config.cjs
  contracts/package.json
  contracts/scripts/v0.1/admin-aggregator/generate-aggregator-deployments.cjs
  docker-compose.local-data-feed.yaml
  dockerfiles/local-data-feed/cli.Dockerfile
  dockerfiles/local-data-feed/contracts.Dockerfile
  dockerfiles/local-data-feed/envs/.api.env
  dockerfiles/local-data-feed/envs/.cli.env
  dockerfiles/local-data-feed/envs/.contracts.env
  dockerfiles/local-data-feed/envs/.core.env
  dockerfiles/local-data-feed/envs/.delegator.env
  dockerfiles/local-data-feed/envs/.fetcher.env
  dockerfiles/local-data-feed/envs/.postgres.env
  dockerfiles/local-data-feed/scripts/cli-activate.sh
  dockerfiles/local-data-feed/scripts/cli-insert.sh
  dockerfiles/local-data-feed/scripts/deploy-contracts.sh
  dockerfiles/orakl-api.Dockerfile
  dockerfiles/orakl-delegator.Dockerfile
Labels: aggregator

#1049 Datafeed Router Contract
  contracts/deploy/AggregatorRouter/AggregatorRouter.cjs
  contracts/deployments/baobab/AggregatorRouter.json
  contracts/migration/baobab/AggregatorRouter/20231229163202_test.json
  contracts/migration/baobab/AggregatorRouter/migration.lock
  contracts/package.json
  contracts/scripts/v0.1/utils.cjs
  contracts/src/v0.1/AggregatorRouter.sol
  contracts/src/v0.1/interfaces/IAggregatorRouter.sol
Labels: on-chain

#1065 Update datetime insert format
  core/src/por/api.ts
  core/src/types.ts
  core/src/worker/request-response.ts
  fetcher/src/job/job.processor.ts
Labels: fetcher, core

#1073 Created batch submission smc + test case
  contracts/src/v0.1/BatchSubmission.sol
  contracts/src/v0.1/interfaces/IAggregatorSubmit.sol
  contracts/test/v0.1/non-vrf/BatchSubmission.test.cjs
Labels: on-chain
